<extend name="Business/index" />

<block name="focus"></block>
<block name="contL">
	<div class="contL">
    	<h2><span>政策介绍</span></h2>
        <div class="answers">
        	<p style="text-indent: 28px; line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 12px; ">58
			同城渠道网络体系建设基本成型，通过不断的大刀阔斧的拓展与整合，如今58同城已经建立了以四大区域为中心，辐射全国各主要城市的渠道网络系统。58同城
			方面认为，通过大力支持和培养新的合作伙伴，才能实现共同发展，互惠互利。因此，对于2013年的渠道发展建设，58同城将从渠道资源进一步开放、一站式
			营运管理体系提供和二三线城市渠道网络重点建设三方面展开。</span></p><p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; ">&nbsp;</span></p><p style="line-height: 1.75em; "><strong><span style="font-family: arial, helvetica, sans-serif; color: rgb(0, 32, 96); font-size: 12px; ">一、依托优势平台及产品体系，开放渠道资源</span></strong></p><p style="text-indent: 28px; line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 12px; ">互
			联网企业想要快速发展必须懂得资源共享，吸收更多合作伙伴，与他们一同开发新的市场。58同城作为国内领先的生活服务平台，平台价值已经得到认可，其针对
			企业商家开发的网邻通、精准推广、名店推荐等营销推广工具一经推出就深受用户的好评，2013年，58同城还将依托本地平台优势，组合完整的产品链条。
			58同城会赋予合作伙伴更多的经营自主权，调动他们的积极性，协助他们制定具有当地特色的营销方案，帮助他们赢得更广泛的空间市场。</span></p><p style="line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; ">&nbsp;</span></p><p style="line-height: 1.75em; "><strong><span style="font-family: arial, helvetica, sans-serif; color: rgb(0, 32, 96); font-size: 12px; ">二、全方位政策支持，一站式方案解决</span></strong></p><p style="text-indent: 28px; line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 12px; ">58
			同城根据合作伙伴的实际需求，将在2013年推出一系列渠道支持政策。为渠道商日常的营运管理提供多维度的支持帮助。包括销售指导、市场支持、培训支持、
			运营指导等在内的一站式营运管理方案，同时也将有专设的渠道经理来协调和沟通，以保证渠道的顺利运营发展。这些多维度的有效支持可以帮助合作伙伴专注于本
			地市场的开发，迅速实现市场拓展和产品销售收益。</span></p><p style="line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; ">&nbsp;</span></p><p style="line-height: 1.75em; "><strong><span style="font-family: arial, helvetica, sans-serif; color: rgb(0, 32, 96); font-size: 12px; ">三、开发二三线城市，扶植中小型企业</span></strong></p><p style="text-indent: 28px; line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 12px; ">一
			直以来，作为覆盖全国的优秀生活服务平台，58同城十分重视二三线城市的业务开发与拓展，大量的市场数据证实了二三线城市的巨大潜力。二三线城市高增长态
			势与当地中小型企业贡献是分不开的。未来，58同城公司也将对其重点投入，将二三线城市进一步细分。并且倾听中小型企业的声音，帮助他们做大做强，打造成
			一个可持续发展的渠道生态系统。</span></p><p style="line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 14px; ">&nbsp;</span></p><p style="text-indent: 28px; line-height: 1.75em; "><span style="font-family: arial, helvetica, sans-serif; font-size: 12px; ">基
			于以上几点核心策略，58同城将在2013年实现渠道代理的全面拓展，也将在渠道合作管理方面得到强化和完善。通过58同城2013年这一渠道计划的落
			实，在实现网络体系建设的同时，也将实现58同城与渠道合作伙伴、本地商家以及广大消费者的四方共赢，既促进58同城和渠道代理商合作伙伴的发展，也将有
			利于全国范围本地商家的市场开拓和品牌建设，同时也将为全国范围的个人消费用户创造更好的服务平台，为他们提供更加可靠更高质量的服务信息。</span></p><p><br></p><p><br></p>
        </div>
 	</div>
 </block>