<!DOCTYPE HTML>
<html>
<head>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/Admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>新增图片</title>



<!-- 城市选择器的js -->
<script type="text/javascript" src="__PUBLIC__/Admin/city/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/city/js/jquery.cityselect.js"></script>
        <script type="text/javascript">
           $(function(){
                $("#city").citySelect({
                    nodata:"none",
                    required:false
                }); 
            });
        </script>



</head>
<body>
<div class="pd-20">
	<form action="{:U('Admin/Jiazheng/insert')}" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>服务标题：</label>
			<div class="formControls col-10">
				<input type="text" class="input-text" value="" placeholder="" id="" name="title">
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-2">简略标题：</label>
			<div class="formControls col-10">
				<input type="text" class="input-text" value="" placeholder="" id="" name="">
			</div>
		</div> -->
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-2"> <span class="select-box">
				<select name="gclass" class="select" id="pro">
				<option vlaue="0">请选择</option>
				</select>
			</span>
			</div>
			<div class="formControls col-2"> <span class="select-box">
				<select name="sclass" class="select" id="citys">
				</select>
				</span> 
			
			</div>
			<br>
			<br>
		</div>
		<literal>
		<script type="text/javascript">
			//信息声明全部全部

		var p = ['月嫂/保姆','保洁','钟点工','疏通','回收','维修'];
		var c = [];
		c[0] = ['月嫂','育儿师','管家','陪护','保姆','钟点工'];
		c[1] = ['物业保洁','开荒保洁','家庭保洁','玻璃清洗','地板打蜡','石材翻新/养护','油烟机清洗','地毯清洗','空调清洗','沙发清洗','灯具清洗','高空清'];
		c[2] = ['月嫂/保姆','保洁','钟点工','疏通','维修','回收'];
		c[3] = ['下水道疏通','马桶疏通','化粪池清理','工业管道安装／改造','打捞','市政管道清淤','隔油池维修/清理'];
		c[4] = ['电器回收','电脑回收','手机回收',' 金银回收','礼品回收','奢侈品回收','家具回收','金属回收','废纸回收','塑料回收','药品回收'];
		c[5] = ['冰箱维修','热水器维修','电视维修','空调维修/拆装','洗衣机维修','厨房家电维修','影音家电维修','小家电维修']
		//初始化
		function init(){
			var html = "";
			for(var i=0;i<p.length;i++){
				html += '<option value="'+p[i]+'" ww="'+i+'">'+p[i]+'</option>';
			}
			//设置省的innerHTML
			pro.innerHTML = html;
		}
		init();

		//省份绑定onchange事件
		pro.onchange = function(){
			//获取选中一项的索引
			var options = pro.getElementsByTagName('option');
			for(var i=0;i<options.length;i++){
				if(options[i].selected == true){
					var v = options[i].getAttribute('ww');
				}
			}
			//获得当前省份所对象的城市的列表
			var citys = c[v];
			//动态循环创建元素
			var html = '';
			for(var i=0;i<citys.length;i++){
				html += '<option value="'+citys[i]+'">'+citys[i]+'</option>';
			}
			//获取元素
			var cs = document.getElementById('citys');
			//设置文本
			cs.innerHTML = html;
		}

		</script>
		</literal>
		<div class="row cl">
		
			<label class="form-label col-2">联系方式：</label>
			<div class="formControls col-4">
				<input type="text" name="tel" id="" placeholder="" value="" class="input-text" style="width:90%">
				元</div>
		</div>

		<div class="row cl">
		
			<label class="form-label col-2">销售价格：</label>
			<div class="formControls col-4">
				<input type="text" name="price" id="" placeholder="" value="" class="input-text" style="width:90%">
				元</div>
		</div>
		
		 <div class="row cl">
		<label class="form-label col-2">您的城市：</label>
			<div class="formControls col-2"><span class="select-box">
				<select class="prov select" name="prov" id="prov">
	                <foreach name="provs" item="ov">
	                <option value="{$ov['province']}" name="{$ov['provinceid']}">{$ov['province']}</option>
	                </foreach>
	            </select>
            </span>
           </div>

		<div class="formControls col-2"><span class="select-box">
            <select class="city select"  name="city" id="city"></select>
        </span></div>
        <div class="formControls col-2"><span class="select-box">
            <select class="dist select"  name="dist" id="dist"></select>
		</span>
		</div>
		</div>
		
		<script type="text/javascript">

        //城市选择器
        $('#city').hide();
        $('#dist').hide();
        $('#prov').change(function(){
            var cities = [];
            $('#city').html('');
            var pid = $(this).find('option:selected').attr('name');
            $.ajax({
                url:"{:U('Home/Send/province')}",
                type:'GET',
                data:{'provinceid':pid},
                dataType:'json',
                success:function(data){
                    cities = eval(data);
                    // alert(cities);
                },
                error:function(){
                    alert('错了');
                },
                timeout:30000,
                async:false

            });
            var html = '';
            for(var i in cities){
                html += '<option value="'+cities[i]+'" name="'+i+'">'+cities[i]+'</option>';
            }
            // alert(html);
            $('#city').show();
            $('#city').html(html);

        })
        $('#city').change(function(){
            var areas = [];
            var cid = $(this).find('option:selected').attr('name');
            $.ajax({
                url:"{:U('Home/Send/city')}",
                type:'GET',
                data:{'cityid':cid},
                dataType:'json',
                success:function(data){
                    areas = eval(data);
                    // alert(cities);
                },
                error:function(){
                    alert('错了');
                },
                timeout:30000,
                async:false

            });
            var html = '';
            for(var i in areas){
                html += '<option value="'+areas[i]+'" name="'+i+'">'+areas[i]+'</option>';
            }
            // alert(html);
            $('#dist').show();
            $('#dist').html(html);
            
        })
    </script>





		<div class="row cl" id="picdiv">
		<label class="form-label col-2">上传图片：</label>
			<input type="file" name="pic[]">
			<input type="button" id="add" value="继续添加">
		</div>
		<literal>
		<script type="text/javascript">
		$('#add').click(function(){
			var input = $('input[type="file"][name="pic[]"]').eq(0).clone(true);
			input.insertBefore('#add');
		})
		</script>
		</literal>

		<div class="row cl">
			<label class="form-label col-2">产品摘要：</label>
			<div class="formControls col-10">
				<textarea name="ps" cols="" rows="" class="textarea"  placeholder="产品的详细信息" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$res['ps']}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>


		<!-- 编辑器 -->
		<div class="row cl">
			<label class="form-label col-2">详细内容：</label>
			<div class="formControls col-10"> 
				<script id="editor" type="text/plain" style="width:100%;height:400px;" name="disc"></script> 
			</div>
		</div>


		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
			</div>
		</div>


	</form>
</div>
</div>
<script type="text/javascript">
	$(function(){
	var ue = UE.getEditor('editor');
});
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/Admin/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

</body>
</html>