<!DOCTYPE html>
<html class="" xmlns="http://www.w3.org/1999/xhtml"><head><script src="http://weixin.58.com/sns/upimg/list?scenestr=531485070064136192_release&amp;callback=jsonp1447397511071"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="http://pic2.58.com/back/favicon.ico">
<title>发布北京二手手机信息-北京58同城</title>
<script type="text/javascript"> 
var userid = '35053632060679'; 
try { var ____json4fe = { catentry: [{ oid:'5', dispid: '5', name: '二手市场', listname: 'sale' }, { oid:'36', dispid: '36', name: '二手手机', listname: 'shouji' }, { dispid: '', name: '', listname: 'post5'}], locallist: { dispid: '1', name: '北京', listname: 'bj' }, modules: 'postpage', ext: { uploadurl:'/flashupload/',locallist: { 'current':{ dispid: '1', name: '北京', listname: 'bj' } , 'area':{dispid: '0', name: '', listname: ''}}} , isqqbind:'0'}} catch (e) { }; 
</script>
<script type="text/javascript" src="__PUBLIC__/Home/send2_files/1_v0.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/send2_files/jquery1.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Home/send2_files/editor_config.js"></script>

<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Home/send2_files/editor_all.js"></script>

<script type="text/javascript" src="__PUBLIC__/Home/send2_files/boot_postpage_version_v20151111193854.js"> </script><script type="text/javascript" charset="utf-8" src="__PUBLIC__/Home/send2_files/9e9f05c8e822e73d674917ae3493c55c_1439208004887.js"></script>

    
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/send2_files/base_v20150121133540.css" media="all">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/send2_files/prompt_v0.css" media="all">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/send2_files/post-ui7_v20150309143458.css" media="all">
<script type="text/javascript" src="__PUBLIC__/Home/send2_files/createElement-lte-IE8_v0.js"></script>
<script src="__PUBLIC__/Home/send2_files/19h_v0.js" type="text/javascript"></script>
<script src="__PUBLIC__/Home/send2_files/35es_v20151021181113.js" type="text/javascript"></script>
    
<script type="text/javascript"> document.domain = "58.com";  var postpic_version = 'java';</script>
<script type="text/javascript"> var myInfo = { infoID:'0', userid:35053632060679, loginstate:'login', cityid:1, dispCityid:1, curDiscateid:36, rootCateName:'sale', currentCateName:'shouji', TopRoleMaxCount:0, CurrentPostCount:0, viewdata:{ baohushouji:''} };</script>
<script type="text/javascript"> 
var iqas_mcvalue = '1447397505504';var iqas_mcformula = 'function a(){var b="12094941075861446916276770";var c="";for(var d=0;d<b.length;d++){if(b.charAt(d)==9) c+="0"; else c+=(parseInt(b.charAt(d))+1);}return "1"+c};try{a();}catch(e){}';$(function(){$("<input name='iqas_mcresult' value='"+eval(iqas_mcformula.replace('checkValue', iqas_mcvalue))+"' / style='display:none'>").appendTo($('#aspnetForm'));});
</script><style type="text/css">.fancybox-lock-test {overflow-y: hidden !important;}</style><style type="text/css">.fancybox-margin{margin-right:17px;overflow-y:hidden;}.tg_overlay{width:100%;height:100%; position:fixed; _position:absolute;top:0;left:0;filter:Alpha(Opacity=40);opacity:0.4;background-color:#000;z-index:100000; _top:expression(documentElement.scrollTop + "px"); }</style><script defer="defer" type="text/javascript" src="__PUBLIC__/Home/send2_files/zh-cn.js"></script><link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/send2_files/ueditor.css">
<style type="text/css">

    #ttb{
        
    }
    #ttb td{
    border:0;
    }
    #ttb td input{
        width:150px;
        height:30px;
        border:1px solid #ccc;
    }
    #ttb td select{
        width:150px;
        height:30px;
        border:1px solid #ccc;
    }
    #ttb sup{
        font-size:14px;
        color:red;
    }

</style>
<link rel="stylesheet" href="__PUBLIC__/Home/send2_files/js/jquery.plupload.queue/css/jquery.plupload.queue.css">
</head>
<body>
    <script type="text/javascript" src="__PUBLIC__/Home/send2_files/createElement-lte-IE8_v0.js"></script>
<link href="__PUBLIC__/Home/send2_files/postheader_v0.css" type="text/css" rel="stylesheet">
<header id="postheader" style="height:58px">
        <h1 id="logo">
            <a href="{:U('Home/Index/index')}" target="_blank"><img src="__PUBLIC__/Home/send2_files/logo.gif" title="58同城" alt="58同城">
            </a>
        </h1>
        <h2 class="sub_title"><b>北京</b>
        <a href="{:U('Home/Index/area')}" class="changecity">切换城市</a>
        </h2>
                <div id="login">糊涂小贤(<span class="red"><a style="color:#F00;margin: 0px;" href="http://my.58.com/liuyanjieshou/" title="你有1条未读短信息">1</a></span>)<a href="https://passport.58.com/logout?path=http%3A//post.58.com/1/36/s5%3FPGTID%3D14473975033660.03253176277363423%26ClickID%3D1&amp;back=now" style="margin-left:10px" target="_self">退出</a></div>
</header>

        <section id="stepbar" class="step_n_2"><div class="step"> <ol class="cols3"><li class="step_1"><span class="num">1</span><span class="maintxt">二手手机</span><span class="subtxt">（<a href="">重选类别</a>）</span><span class="l"></span><span class="r"></span></li><li class="step_2"><span class="num">2</span><span class="maintxt">填写详情</span><span class="subtxt"></span><span class="l"></span><span class="r"></span></li><li class="step_3"><span class="num">3</span><span class="maintxt">发布成功</span><span class="l"></span><span class="r"></span></li></ol> </div></section>
                    <div class="content">
                <div id="toperro" class="hc"></div>
                <div name="mydear">
                    <div class="dearUser clearfix">
                        <p class="fl c_666">
                            <span class="ml20">亲爱的</span><strong class="ml5 mr5">糊涂小贤</strong>，
                            您的信用值是<strong class="c_f50 ml5 mr5">10</strong>。今天在
                            <strong> 二手手机</strong>
                            你还可以发布 <b name="leftcount" class="c_f50">5</b>
                            条信息！
                        </p>
                        <p class="fr f12 pr20">
                            无法发布？<a href="http://about.58.com/28.html#q">查看帮助</a>
                        </p>
                    </div>
                </div>
            </div>
    <style type="text/css">
#upload_Tip{display:block; margin-bottom:15px;}
</style> 

<div id="contentPost" class="mb15 pr">   
    
  <div class="scoreShow">
        <div style="top: 40px;" class="stimulate stim1" id="stimulate">
            <b id="jilifenshu">10</b>
            <div id="titleShow">
                <span class="shut"></span>
                <span class="decorate"></span>
                <div id="noneShow"></div>
            </div>
        </div> 
        
    </div>
  <div class="tabShow">


<form action="{:U('Home/Send/insert')}" method="post">
    <table id="ttb" border="0">
        <tr><td><sup>*</sup>类别：</td><td colspan="2">
                <select name="type" class="select" id="pro">
                </select>
            </span>
                <select name="brand" class="select" id="citys" style="display:none">
                </select>
                </span> 
        </td></tr>
        <tr><td><sup>*</sup>新旧：</td>
        <td colspan="2"><select name="hownew" class="select">
                <option value="0">5成新</option>
                <option value="1">6成新</option>
                <option value="2">7成新</option>
                <option value="3">8成新</option>
                <option value="4">9成新</option>
                <option value="5">95成新</option>
                </select>
        </td></tr>
        <tr><td><sup>*</sup>价格：</td><td colspan="2"><input type="text" name="price"></td></tr>
        <tr><td>屏幕宽度：</td><td colspan="2"><input type="text" name="width"></td></tr>
        <tr><td>CPU：</td><td colspan="2"><input type="text" name="cpu"></td></tr>
        <tr><td></td><td colspan="2"><sup>*</sup>照片：
            <div id="uploader">
                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
            </div>
        </td></tr>
        <tr><td><sup>*</sup>标题：</td><td colspan="2"><input type="text" name="name"></td></tr>
        <tr><td>产品摘要：</td><td colspan="2">
            
            <textarea name="ps" id="" cols="60" rows="8"></textarea>
        </td></tr>
        <tr><td>详细信息：</td><td colspan="2">
            
           <!-- 编辑器 -->
           <div class="row cl">
            <label class="form-label col-2">详细内容：</label>
            <div class="formControls col-10"> 
                <script id="editor" type="text/plain" style="width:100%;height:400px;" name="disc"></script> 
            </div>
        </div>





        </td></tr>
        <tr><td><sup>*</sup>区域：</td>
        <td colspan="2">
            <select class="prov select" name="prov" id="prov">
                <foreach name="provs" item="ov">
                <option value="{$ov['province']}" name="{$ov['provinceid']}">{$ov['province']}</option>
                </foreach>
            </select>
            <select class="city select"  name="city" id="city"></select> 
            <select class="dist select"  name="dist" id="dist"></select>
   
        </td></tr>

        <tr><td><sup>*</sup>联系人：</td><td colspan="2"><input type="text" name="argent"></td></tr>
        <tr><td><sup>*</sup>联系电话：</td><td colspan="2"><input type="text" name="tel"></td></tr> 
         <tr><td></td><td colspan="2"><input type="submit" value="提交并上传" style="background:orange;border-radius:5%"></td></tr>
    </table>
</form>




    <script type="text/javascript" src="__PUBLIC__/Home/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/send2_files/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/send2_files/js/plupload.full.min.js"></script>

   <script type="text/javascript">
    $(function(){
    var ue = UE.getEditor('editor');
});
</script>
<script type="text/javascript" src="__PUBLIC__/Home/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/Home/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

    <!-- 多长图片上传的插件 -->
    <script type="text/javascript" src="__PUBLIC__/Home/send2_files/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script>
        $('#uploader').pluploadQueue({
            url : "{:U('Home/Send/upload')}",
            filters : [
                {title : "Image files", extensions : "jpg,gif,png"}
            ],
            rename: true,
            flash_swf_url : './js/Moxie.swf',
            silverlight_xap_url : './js/Moxie.xap',
        });
    </script>
        <script type="text/javascript">

        //城市选择器
        $('#city').hide();
        $('#dist').hide();
        $('#prov').change(function(){
            var cities = [];
            $('#city').html('');
            var pid = $(this).find('option:selected').attr('name');
            $.ajax({
                url:"{:U('Home/Send/province')}",
                type:'GET',
                data:{'provinceid':pid},
                dataType:'json',
                success:function(data){
                    cities = eval(data);
                    // alert(cities);
                },
                error:function(){
                    alert('错了');
                },
                timeout:30000,
                async:false

            });
            var html = '';
            for(var i in cities){
                html += '<option value="'+cities[i]+'" name="'+i+'">'+cities[i]+'</option>';
            }
            // alert(html);
            $('#city').show();
            $('#city').html(html);

        })
        $('#city').change(function(){
            var areas = [];
            var cid = $(this).find('option:selected').attr('name');
            $.ajax({
                url:"{:U('Home/Send/city')}",
                type:'GET',
                data:{'cityid':cid},
                dataType:'json',
                success:function(data){
                    areas = eval(data);
                    // alert(cities);
                },
                error:function(){
                    alert('错了');
                },
                timeout:30000,
                async:false

            });
            var html = '';
            for(var i in areas){
                html += '<option value="'+areas[i]+'" name="'+i+'">'+areas[i]+'</option>';
            }
            // alert(html);
            $('#dist').show();
            $('#dist').html(html);
            
        })





            //信息声明全部全部

        var p = ['平板','台式机','手机','笔记本','相机'];
        var c = [];
        c[0] = ['iPad','三星','小米','爱国者','ThinkPad','E人E本','纽曼','华为','宏基','华硕','戴尔','微软','其他品牌'];
        c[1] = ['ThinkPad','华为','宏基','华硕','戴尔'];

        c[2] = ['苹果','三星','小米','诺基亚','华为','HTC','联想','酷派','更多品牌'];
            
        c[3] = ['宏基','华硕','戴尔','联想','惠普','索尼','苹果','三星','富士通','东芝','方正','神舟','其他品牌'];

        c[4] = ['单反相机','相机包','微单相机','镜头'];
        //初始化
        function init(){
            var html = "";
            for(var i=0;i<p.length;i++){
                html += '<option value="'+p[i]+'" ww="'+i+'">'+p[i]+'</option>';
            }
            //设置省的innerHTML
            pro.innerHTML = html;
        }
        init();

        //省份绑定onchange事件
        pro.onchange = function(){
            $('#citys').show();
            //获取选中一项的索引
            var options = pro.getElementsByTagName('option');
            for(var i=0;i<options.length;i++){
                if(options[i].selected == true){
                    var v = options[i].getAttribute('ww');
                }
            }
            //获得当前省份所对象的城市的列表
            var citys = c[v];
            //动态循环创建元素
            var html = '';
            for(var i=0;i<citys.length;i++){
                html += '<option value="'+citys[i]+'">'+citys[i]+'</option>';
            }
            //获取元素
            var cs = document.getElementById('citys');
            //设置文本
            cs.innerHTML = html;
        }

        </script>
</div>
<div class="hr_s"></div>
  </div>
   
    <div class="cover" id="pop_cover"></div>
    <div id="postlimit" class="postlimit">
        <h3 class="header">
            <span class="cls">X</span>
            发布提示
        </h3>
        <div class="info">
            <p class="hello">尊敬的用户：</p>
            <p>您本月在当前分类的<em class="warn">10条发帖条数</em>已用尽，下月可继续发布新消息</p>
            <p>您可尝试<a href="" target="_blank">置顶</a>或<a href="" target="_blank">刷新</a>，获得更大流量提升效果。</p>
        </div>
    </div>
     <div id="edui7_content" class="edui-popup-content edui-ershou">  </div> </div></div></div></body></html>