<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>【图】大众桑塔纳志俊 2009款 1.8L 手动 CNG(国Ⅲ)&nbsp;&nbsp;[全部现车,保证车况,价格可议] - 二手车 - 北京58同城</title>
<meta name="description" content="大众桑塔纳志俊 2009款 1.8L 手动 CNG(国Ⅲ)-全部现车,保证车况,价格可议,怀柔鹏程精品二手车我公司实体店铺，一站式服务：车辆上牌，售后服务，上保为您解决一切车务手续，代办车辆年检，可异地年审，手续快，价格最低，全国都可以上牌。每月有100台车以上，公司本着“诚信经营，信誉第">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://i.m.58.com/bj/ershouche/23896266723639x.shtml">
<meta http-equiv="mobile-agent" content="format=html5; url=http://i.m.58.com/bj/ershouche/23896266723639x.shtml">
<meta http-equiv="mobile-agent" content="format=wml; url=http://i.m.58.com/bj/ershouche/23896266723639x.shtml">
<meta name="location" content="province=北京;city=北京;coord=116.395645,39.929986">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/cardetail_files/base_v20150121133540.css" media="all">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/cardetail_files/detail-ui7_v20151105194831.css" media="all">

<!-- 亮点配置防骗提示 BEGIN -->
<!-- link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/cardetail_files/detail-ui8_v20151023172621.css" media="all"> -->
<!-- 亮点配置防骗提示 END -->


  <style>
    #bangbangWrapBox{position:relative;z-index:995}
    .bangbangTips2012{width:344px; height:296px; position:absolute;top:30px;left:-110px;z-index:9998; background:url("http://img.58cdn.com.cn/ui6/detail/tips8.png") no-repeat;}
    .b_btn2,.b_close{display:block;width:103px;height:33px;position:absolute;cursor:pointer}
    .b_btn2{width:107px;height:25px;left:162px;top:171px}
    .b_close{width:34px; height:34px;left:306px; top:71px;}
    .brandad1000{ height:50px; margin:0 auto 10px; overflow:hidden; width:1000px; position:relative;}
    .brandad1190 ul{}
    .brandad1190 li{ height:50px;}
    .brandad1190 img{ width:1190px; height:50px;}
    .brandad990{ height:50px; margin:0 auto 10px; overflow:hidden; width:990px; position:relative;}
    .brandad990 ul{}
    .brandad990 li{ height:50px;}
    .brandad990 img{ width:990px; height:50px;}

    #dv{
      width:230px; 
      height:320px;
      margin:20px;
      margin-left:90px

    }
  </style>
</head>
<body>
  <header id="header">
    <div id="logo">
      <a href="http://bj.58.com/?utm_source=d_hao360&amp;spm=360-mingzhan-1010?from=esc_detail_top_logo"><img src="__PUBLIC__/Home/cardetail_files/logo.gif" title="58同城" alt="58同城"></a>
    </div>
    <div class="breadCrumb f12">
      <span><a index="0" href="http://bj.58.com/?utm_source=d_hao360&amp;spm=360-mingzhan-1010?from=esc_detail_top_index">北京58同城</a></span>
      <span class="crb_i"><a index="1" href="http://bj.58.com/car.shtml?utm_source=d_hao360&amp;spm=360-mingzhan-1010?from=esc_detail_top_car">北京二手车网</a></span>
      <span class="crb_i"><a index="2" href="http://bj.58.com/ershouche/?utm_source=d_hao360&amp;spm=360-mingzhan-1010?from=esc_detail_top_ershouche">北京二手车</a></span>
    </div>
    <a href="http://post.58.com/1/29/s5?from=esc_detail_top_post" class="postBtn fr" rel="nofollow" id="postinfo"></a>
  </header>

  <div class="brandad1000" style="display: block;" id="brand_detial_top_banner"> 
    <ul style="margin-top: 0px;">
      <li><a href="" target="_blank"><img src="__PUBLIC__/Home/cardetail_files/n_v1bkujjdziivafmk4gr5ja.jpg"></a></li>
      <li><a href="" target="_blank"><img src="__PUBLIC__/Home/cardetail_files/n_v1bkujjd7gaqxvnuscx5ta.jpg"></a></li>
    </ul>
  </div>

  <div id="weixinerwema" style="display:none;">http://p1.a.58cdn.com.cn/m58/m3/img/car/weixin/n_s12734176895685552165_aeaa18bb46ffde7e.jpg</div>
  <div style="z-index: 100; width: 100px; text-align: center; background: rgb(242, 242, 242) none repeat scroll 0% 0%; padding: 5px; font-size: 12px; line-height: 20px; display: block; color: rgb(138, 137, 142); position: fixed; top: 60px; right: 0px;" id="erweima">
    <img src="__PUBLIC__/Home/cardetail_files/n_s12734176895685552165_aeaa18bb46ffde7e.jpg"><span style="color:red;">扫码关注公众号</span><br><span style="color:red;">一手掌握二手车</span>
  </div>

  <div id="action"></div>
  <div id="sbar1"></div>
  <!--js 获取 web 来路信息标示id  -->
  <div id="search_box_ui_position" style="display:none;"></div>
  <div id="content" class="clearfix">
    <i class="main_topb"></i>
    <section id="content_sumary" class="clearfix">
        <div id="content_sumary_left">
            <div style="width:424px; height:359px; text-align:center; display:table-cell; vertical-align:middle;line-height:359px;" id="img1div">
                <img style="cursor: pointer;" id="img1" src="__PUBLIC__{$car['pic'][0]}" width="100%">
                <!-- <div id="dv" width="100%"></div> -->
            </div>
            <div id="content_sumary_img" class="g_thumb">
                <a id="img_scrollLeft" class="icon_left"></a>
                <a id="img_scrollRight" class="icon_right"></a>
                <div class="g_thumb_main">
                    <ul style="width: 837px;" id="img_smalls">
                        <li><img style="cursor: pointer;" id="img1" src="__PUBLIC__{$car['pic'][0]}" width="100%"></li>
                        <li><img id="img2" src="__PUBLIC__/cartips/1.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img3" src="__PUBLIC__/cartips/2.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img4" src="__PUBLIC__/cartips/3.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img5" src="__PUBLIC__/cartips/4.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img6" src="__PUBLIC__/cartips/5.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img7" src="__PUBLIC__/cartips/6.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img8" src="__PUBLIC__/cartips/7.jpg" width="100%" style="cursor: pointer;"></li>
                        <li><img id="img9" src="__PUBLIC__/cartips/8.jpg" width="100%" style="cursor: pointer;"></li>
                    </ul>
                </div>

                <script type="text/javascript" src="__PUBLIC__/Home/jquery-1.8.3.min.js"></script>
                <script type="text/javascript">
                    $('#img_smalls li').mouseover(function(){

                      //克隆元素
                      newImg = $(this).find('img').clone(true);
                      //执行插入
                      $('#img1div img').hide();
                      $('#img1div').append(newImg);

                    })
                </script>
            </div>
            <div class="cl"></div>
        </div>
        <div id="content_sumary_right">
            <h1 class="h1">{$car['title']}&nbsp;&nbsp;[全部现车,保证车况,价格可议]</h1>
            <h2 class="h2" style="color:red;font-size:16px">{$car['type']}&nbsp;&nbsp;|&nbsp;&nbsp;{$car['drive']} &nbsp;&nbsp;|&nbsp;&nbsp;{$car['pailiang']} L</h2>
            <div id="content_price">
                <div class="content_price_left">
                    <p>
                        <span class="font_jiage">¥ {$car['price']}</span>
                        <span class="font_wan">万</span> 
                    </p>
                    <p class="color_a3">
                      <a href="http://jinrong.58.com/kop?from=58_jinrong__esc_cdq_detail" target="_blank" title="买车还差多少，58凑点钱">买车还差多少，58凑点钱，申请&gt;&gt;</a>&nbsp;&nbsp;<a href="http://che.58.com/zhijun_s/?utm_source=ershouche_pc_detail_p1" target="_blank">新车报价</a>
                    </p>
                </div>
                <div class="color_a3 content_price_right" id="_detailRefPrice" style="display:none;"></div>
            </div>
            <p class="lineheight_2">
                <span class="left_title">联系</span>
                <span>
                  <a href="http://shop.58.com/75457190790183532/" target="_blank" rel="nofollow" >张先生</a>
                </span>
                <img src="__PUBLIC__/Home/cardetail_files/wltyear1.png" class="wlt1" title="58同城认证商家">
                <span id="bangbangWrapBox" >
                    <img id="imgbang35030170352140" name="iconbang" src="__PUBLIC__/Home/cardetail_files/offline.gif" style="cursor: pointer;">
                </span>
                <span class="lxr_icon" id="renzhenIcon" style="display:none;">
                    <ul class="userinfo">
                      <li><i>用户认证：</i>
                          <a href="http://my.58.com/35030170352140/" target="_blank" class="icon3" title="手机已认证"></a>
                          <a href="http://my.58.com/35030170352140/" target="_blank" class="icon1" title="身份已认证"></a>
                      </li>
                    </ul>
                </span>
            </p>
              
            <p class="lineheight_2">
                <span class="left_title">电话</span> 
                  <span class="font20 color_888" id="t_phone" style="color:red">
                        {$car['tel']}
                    <span class="address ">(北京)</span>
                  </span>
                <a href="http://shop.58.com/75457190790183532/" target="_blank">进入店铺</a> 
            </p>
            <p class="lineheight_2 relative">
                <span class="left_title absolute">地址</span>
                <span id="address_detail">北京市怀柔区南华市场</span>
            </p>
            <span class="dian_pic"></span>
            <div class="mtit_con c_999 f12 clearfix">
                <ul class="mtit_con_left fl">
                    <li class="time">2015.11.11</li>
                </ul>
                <ul class="mtit_con_right fr">
                    <li id="freemsg" class="freemsg">
                      <span class="ml_1">
                        <i class="mtit1"></i>
                        <a title="把该信息发送到手机" href="" rel="nofollow">
                          <i></i>
                          免费发送到手机
                        </a>
                      </span>
                    </li>
                    <li id="collect" class="collect">
                      <span class="ml_2">
                         <i class="mtit2"></i>
                         收藏
                         <i class="mtit0"></i>
                      </span>
                    </li>
                    <li style="margin-right: 6px; margin-left: 10px;" id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                       <span style="background: url('http://img.58cdn.com.cn/ui7/fang/detail/img/main_title_bg.png') no-repeat -5px -147px !important;height:18px;padding-bottom:0px;padding-left:14px;padding-top:0px;" id="bds_more" class="bds_more">
                        求鉴定
                        <i style="" class="mtit0"></i>
                       </span>
                    </li>
                    <li id="report" class="report">
                        <span class="ml_4">
                            <i class="mtit4"></i>
                            举报
                            <i class="mtit0"></i>
                        </span>
                    </li>
                </ul>
            </div>  
        </div>
    </section>
    <section id="content-detail" class="clearfix">
        <div id="content-detail_left">
          <div class="mb15 detail_tab">
              <header style="position: static; top: 602px; left: auto; z-index: 10; background: rgb(255, 255, 255) none repeat scroll 0% 0%;" id="tabHeader" class="des_tit pr">
                  <ul class="desMenu clearfix">
                      <li class="cur" id="xiangxiTab"><span>车源详情</span></li>
                      <li class="after" id="recommendTab"><span>同类推荐</span></li>
                  </ul>
              </header> 
              <section class="des_con">
                  <div class="none cur" id="nonecur" style="display:block">
                      <div class="chexingpeizhi">     
                          <a id="carbrands" href="http://bj.58.com/dazhongcar/?utm_source=d_hao360&amp;spm=360-mingzhan-1010" target="_blank">{$car['brand']}</a>                 - <a id="carseriess" href="http://bj.58.com/zhijun/?utm_source=d_hao360&amp;spm=360-mingzhan-1010" target="_blank">{$car['chexi']}志俊</a>- <a id="carlibs" href="://peizhi.58.com/detail/zhijun/308360/" target="_blank">2009款 {$car['pailiang']}L {$car['dang']} CNG(国Ⅲ)</a>
                          <div class="cxpzinfo">
                              <div class="fx">
                                  <a href="http://peizhi.58.com/detail/zhijun/308360/" target="_blank">车型配置详情</a>
                                  <span class="icon_ xiangqing_icon"></span>
                              </div>
                          </div>
                      </div>
                      <div class="cl"> </div>
                      <ul class="car_info_param">
                          <li>  
                            <span class="span_th info_param_1">上牌时间</span>
                            <span class="color_000 info_param_val1">2010年12月</span>
                          </li>
                          <li> 
                            <span class="span_th info_param_1">行驶里程</span>
                            <span class="color_000 info_param_val1">{$car['drive']}</span>
                          </li>
                          <li>
                            <span class="span_th info_param_1">车辆排量</span>
                            <span class="color_000 info_param_val2">{$car['pailiang']}升</span>
                          </li>
                          <li>
                            <span class="span_th info_param_1">车辆颜色</span>
                            <span class="color_000 info_param_val1">黑色</span>
                          </li>
                          <li>
                            <span class="span_th info_param_1">年检到期</span>
                            <span class="color_000 info_param_val1">2016年12月</span>
                          </li>
                          <li>
                            <span class="span_th info_param_1">交强险</span>
                            <span class="color_000 info_param_val2">2016年12月</span>
                          </li>
                          <li>
                            <span class="span_th info_param_1">维护保养</span>
                            <span class="color_000 info_param_val1">4S店保养</span>
                          </li>
                          <li>
                            <span class="span_th info_param_1">事故历史</span>
                            <span class="color_000 info_param_val1">无重大事故</span>
                          </li>               
                      </ul>
                      <div id="liangdian">
                          <div>
                              <iframe id="liangdianframe" marginwidth="0" marginheight="0" scrolling="no" style="width: 100%; height: 0px;" src="__PUBLIC__/Home/cardetail_files/a_003.htm" frameborder="0"></iframe>
                          </div>
                      </div>
                      <img style="cursor: pointer;" id="img1" src="__PUBLIC__{$car['pic'][0]}" width="100%">
                      <div class="benchepeizhi">
                          <div style="height: 84px;" class="part_detail">
                              <p>
                                <span id="comp-paste-div-9377">怀柔鹏程精品二手车<br>我公司实体店铺，一站式服务：车辆上牌，售后服务，上保为您解决一切车务手续，代办车辆年检，可异地年审，手续快，价格最低，全国都可以上牌。<br><br></span><br>
                              </p>
                          </div>
                          <p class="expand" style="display: block;">展开 ∨</p>
                          <p class="retract" style="display: none;">收起 ∧</p>
                      </div>
                  </div>
                  <div class="none cur" id="twocur" style="display:none">
                      <div style="height:30px;line-height:50px;font-weight:bold">同车系车</div>
                      <ul class="picList picList2 clearfix" style="margin-left:-30px;margin-right:0px;margin-top:-10px">
                          <foreach name="chexi" item="v">
                              <li style="margin-right:12px">
                                  <p class="img">
                                      <a href="{:U('Home/Car/detail')}?id={$v['id']}" target="_blank" title="志俊"><img src="__PUBLIC__/{$v['pic'][0]}" alt="志俊" height="120" width="160"></a>
                                  </p>
                                  <p class="price">
                                      <span class="pri">{$v['title']}</span></p>
                                      <p class="des"><a href="{:U('Home/Car/detail')}?id={$v['id']}" target="_blank" title="志俊">{$v['type']}</a>
                                  </p>
                              </li>
                          </foreach>
                      </ul>
                      <hr>
                      <div style="height:30px;line-height:50px;font-weight:bold">同品牌车</div>
                      <ul class="picList picList2 clearfix" style="margin-left:-30px;margin-right:0px;margin-top:-10px;">
                          <foreach name="brand" item="pin">
                              <li style="margin-right:12px">
                                  <p class="img">
                                      <a href="{:U('Home/Car/detail')}?id={$pin['id']}" target="_blank" title="志俊"><img src="__PUBLIC__/{$pin['pic'][0]}" alt="志俊" height="120" width="160"></a>
                                  </p>
                                  <p class="price">
                                      <span class="pri">{$pin['title']}</span></p>
                                      <p class="des"><a href="{:U('Home/Car/detail')}?id={$pin['id']}" target="_blank" title="志俊">{$pin['type']}</a>
                                  </p>
                              </li>
                          </foreach>
                      </ul>
                  </div>
              </section>

              <script type="text/javascript">
                  $('ul #xiangxiTab').click(function(){
                      $(this).attr('class','cur');
                      $(this).siblings().removeAttr('class','cur');
                      $('.des_con #nonecur').show();
                      $('.des_con #twocur').hide();
                  })

                   $('ul #recommendTab').click(function(){
                      $(this).attr('class','cur');
                      $(this).siblings().removeAttr('class','cur');
                      $('.des_con #twocur').show();
                      $('.des_con #nonecur').hide();
                  })
              </script>

        
          </div> 
          <div style="display:none;" id="search_list_ui_position" class="beinterest"></div>
          <input value="412025" id="carseriesid" type="hidden">
          <div id="newcarWrap" class="mb15 w780">
              <header class="rec_tit rec_tit2 clearfix">
                  <h3><span>新车推荐</span></h3>
                  <span class="morelist"><a href="http://che.58.com/chexing/" target="_blank">更多&gt;&gt;</a></span>
              </header>
              <div class="rec_con">
                  <ul class="picList picList2 clearfix">
                      <li>
                          <p class="img">
                              <a href="http://che.58.com/zhijun_s/?from=ershouche_detail" target="_blank" title="志俊"><img src="__PUBLIC__/Home/cardetail_files/54fd5ead452b9.jpg" alt="志俊" height="120" width="160"></a>
                          </p>
                          <p class="price">
                              <span class="pri">9.48-9.98</span>万</p>
                              <p class="des"><a href="http://che.58.com/zhijun_s/?from=ershouche_detail" target="_blank" title="志俊">志俊</a>
                          </p>
                      </li>
                      <li>
                        <p class="img"><a href="http://che.58.com/sangtana_s/?from=ershouche_detail" target="_blank" title="桑塔纳"><img src="__PUBLIC__/Home/cardetail_files/n_v1bl2lwtjq5uuvngaarrla_240_10.jpg" alt="桑塔纳" height="120" width="160"></a></p>
                        <p class="price"><span class="pri">8.49-13.68</span>万</p><p class="des"><a href="http://che.58.com/sangtana_s/?from=ershouche_detail" target="_blank" title="桑塔纳">桑塔纳</a></p>
                      </li>
                      <li>
                        <p class="img"><a href="http://che.58.com/jieda_s/?from=ershouche_detail" target="_blank" title="捷达"><img src="__PUBLIC__/Home/cardetail_files/n_v1bkujjd4hviuvnmkbtuca_240_10.jpg" alt="捷达" height="120" width="160"></a></p>
                        <p class="price"><span class="pri">7.99-13.48</span>万</p><p class="des"><a href="http://che.58.com/jieda_s/?from=ershouche_detail" target="_blank" title="捷达">捷达</a></p>
                      </li>
                      <li>
                        <p class="img"><a href="http://che.58.com/langyi_s/?from=ershouche_detail" target="_blank" title="朗逸"><img src="__PUBLIC__/Home/cardetail_files/n_v1bl2lwtlh4euvnqwugi3q_240_10.jpg" alt="朗逸" height="120" width="160"></a></p>
                        <p class="price"><span class="pri">10.99-16.59</span>万</p><p class="des"><a href="http://che.58.com/langyi_s/?from=ershouche_detail" target="_blank" title="朗逸">朗逸</a></p>
                      </li>
                  </ul>
              </div>
          </div>
          <div id="chedaizhushou" class="mb15"></div>
          <div id="direct_ad_bottom" class="w780">
              <div style="border: 1px solid #e0e0e0; border-bottom:1px solid #d1d1d1; margin:0 auto 15px; width:770px;">
                  <div style="background:#F6F6F6; height:32px; padding:0 15px; line-height:32px;">
                      <h3 style="font-size:14px; float:left;">
                          <a target="_blank" href="http://about.58.com/330.html" style="color:#333;text-decoration: none;">智能推广</a>
                      </h3>
                  </div>
                  <div style="overflow:hidden; padding:20px 5px;">
                      <ul>
                          <li style="float: left; text-align: center; line-height: 20px; margin-left: 15px;">
                              <a target="_blank" href="">
                                  <img src="__PUBLIC__/Home/cardetail_files/n_v1bl2lwwkrli6fn3moq45a_150_120.jpg" style="display: block; height: 120px; width: 160px;">
                                  <p style="color:#585858; font-family:Arial; padding:5px 0; width: 170px">
                                      <b style="color:#ff0000; margin-right:3px;">面议</b>
                                  </p>
                                  <h3 style="font-size: 12px; font-weight: normal; width: 160px;">寻找投资好项目，就加盟涂奈克！</h3>
                              </a>
                          </li>
<li style="float: left; text-align: center; line-height: 20px; margin-left: 15px;">
  <a target="_blank" href="">
      <img src="__PUBLIC__/Home/cardetail_files/n_v1bkuymcyfdy3vnfc334ba_150_120.jpg" style="display: block; height: 120px; width: 160px;">
    <p style="color:#585858; font-family:Arial; padding:5px 0; width: 170px">
      <b style="color:#ff0000; margin-right:3px;">面议</b>
    </p>
    <h3 style="font-size: 12px; font-weight: normal; width: 160px;">买车不如投资涂奈克，半年回本轻松赚钱</h3>
  </a>
</li><li style="float: left; text-align: center; line-height: 20px; margin-left: 15px;">
  <a target="_blank" href="">
      <img src="__PUBLIC__/Home/cardetail_files/n_v1bkuyfvjul44vniwwoara_150_120.jpg" style="display: block; height: 120px; width: 160px;">
    <p style="color:#585858; font-family:Arial; padding:5px 0; width: 170px">
      <b style="color:#ff0000; margin-right:3px;">面议</b>
    </p>
    <h3 style="font-size: 12px; font-weight: normal; width: 160px;">投资二手车，不如加盟山居涂，轻松致富！</h3>
  </a>
</li><li style="float: left; text-align: center; line-height: 20px; margin-left: 15px;">
  <a target="_blank" href="">
      <img src="__PUBLIC__/Home/cardetail_files/n_v1bl2lwtmlijafnsxikquq_150_120.jpg" style="display: block; height: 120px; width: 160px;">
    <p style="color:#585858; font-family:Arial; padding:5px 0; width: 170px">
      <b style="color:#ff0000; margin-right:3px;">面议</b>
    </p>
    <h3 style="font-size: 12px; font-weight: normal; width: 160px;">优车联合58，购车送四重豪礼！</h3>
  </a>
</li>
        </ul>
    </div>
</div></div>
 
          <div class="col detailBottomAd mb15 w780"></div>

      </div>
      
      <div style="overflow: hidden;" id="content-detail_right">
          <div style="border-right: medium none; left: auto; top: auto; position: relative;" id="tuijianchexing">
              <h1 style="position: static; top: 0px; z-index: 10; background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: auto;" class="clearfix">
                  <span class="recom_more" title="看了又看">看了又看</span>
                  <a href="http://bj.58.com/ershouche/" target="_blank"><span>更多&gt;&gt;</span> </a>
              </h1>
              <foreach name="cars" item="vo">
              <div class="tuijiancar">
                  <a target="_blank" href="{:U('Home/Car/detail')}?id={$vo['id']}"><img src="__PUBLIC__/{$vo['pic'][0]}" alt="title" height="120" width="160"></a>
                  <p class="color_25d">
                      <a target="_blank" href="http://bj.58.com/ershouche/23734921720884x.shtml" title="{$vo['brand']}{$cars['chexi']} 2010款 {$cars['pailiang']} {$vo['dang']} 实尚型&nbsp;&nbsp;[每天100台车供您挑选]">
                        {$vo['brand']}{$cars['chexi']} 2010款 {$cars['pailiang']} {$vo['dang']} 实尚型-每天100台车供...</a>
                  </p>
                  <p class="tuijiancar_title clearfix">
                      <span class="color_e43 font13 recom_jiage">¥<span class="recom_font20 bold">{$vo['price']}</span>万</span>
                      <span class="gongli_shangpai">
                          <span>{$vo['drive']}公里</span><br>
                          <span>2010年上牌</span>
                      </span>
                  </p>
              </div>
              </foreach>
          </div>
      </div>
      
        
    </section>
      
     
     
</div>

<div id="sbar2"></div>
<!-- =S footer -->
<footer id="footer" class="footer">
<p class="copyright">© 58.com <a href="http://about.58.com/" target="_blank" rel="nofollow">帮助中心</a>
- <a href="http://i.wap.58.com/bj/ershouche/23896266723639x.shtml?refrom=pc">极速版</a>
- <a href="http://m.58.com/bj/ershouche/23896266723639x.shtml?refrom=pc">触屏版</a>
</p>
</footer>
<!-- =E footer -->
</body></html>