<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head><style media="screen"></style>
    <!-- initial set  -->
    <meta http-equiv="x-ua-compatible" content="ie=7">
        <meta name="baidu-site-verification" content="h0fignccMW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--seo -->
    <title>我们爱讲冷笑话-|爱编冷笑话|挖掘冷猛料|流行冷幽默|-lengxiaohua.com</title>
    
    <meta property="wb:webmaster" content="0695f39670ffb8ba">
    <meta property="qc:admins" content="2117207557701170516375"> 
    <meta name="description" content="爱讲冷笑话的企鹅所在地,善于挖掘冷笑话,发挥冷笑话功力,一个冷笑话就能走天涯.只要听到一个冷笑话,就讲给他人听。2012最新最流行冷笑话,冷笑话其实很好笑,也经常听到别人讲冷笑话, 有人天生爱说冷笑话,痴迷讲冷笑话,人生其实就是一个冷笑话,冷笑话真的很冷啊.">
    
    <meta name="keywords" content="冷笑话,最新冷笑话,经典冷笑话,冷笑话谜语,冷笑话大全,lengxiaohua,冷漫画,冷视频,康康冷笑话,小白兔冷笑话,脑筋急转弯,搞笑短信,冷幽默,冷知识,冷图片,冷创意">
    
    <link rel="canonical" href="">

    <!-- maincss -->
    <link href="__PUBLIC__/Home/lengshouye_files/Icomoon.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/lengshouye_files/core.css" type="text/css" media="screen" charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/Home/lengshouye_files/Base.css" type="text/css" media="screen" charset="UTF-8">

    <!-- favicon -->
    <link rel="favicon icon" type="image/png" href="">

    <!-- js plugins -->
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/jquery-1.js"></script>
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/ddpng.js"></script> 
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/ZarkAPI.js"></script>
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/ZarkF.js"></script>
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/JOKE.js"></script>
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/lazyload.js"></script> 
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/Base.js"></script>
    <script type="text/javascript" charset="UTF-8" src="__PUBLIC__/Home/lengshouye_files/zarkfx.js"></script>
    <!-- sub-page css, js and csshack -->
    
<script charset="utf-8" src="__PUBLIC__/Home/lengshouye_files/profile.txt"></script><style class="firebugResetStyles" type="text/css" charset="utf-8">/* See license.txt for terms of usage */
/** reset styling **/
.firebugResetStyles {
    z-index: 2147483646 !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: 0 !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    position: fixed !important;
    transform: rotate(0deg) !important;
    transform-origin: 50% 50% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent none !important;
    pointer-events: none !important;
    white-space: normal !important;
}
style.firebugResetStyles {
    display: none !important;
}

.firebugBlockBackgroundColor {
    background-color: transparent !important;
}

.firebugResetStyles:before, .firebugResetStyles:after {
    content: "" !important;
}
/**actual styling to be modified by firebug theme**/
.firebugCanvas {
    display: none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBox {
    width: auto !important;
    position: static !important;
}

.firebugLayoutBoxOffset {
    opacity: 0.8 !important;
    position: fixed !important;
}

.firebugLayoutLine {
    opacity: 0.4 !important;
    background-color: #000000 !important;
}

.firebugLayoutLineLeft, .firebugLayoutLineRight {
    width: 1px !important;
    height: 100% !important;
}

.firebugLayoutLineTop, .firebugLayoutLineBottom {
    width: 100% !important;
    height: 1px !important;
}

.firebugLayoutLineTop {
    margin-top: -1px !important;
    border-top: 1px solid #999999 !important;
}

.firebugLayoutLineRight {
    border-right: 1px solid #999999 !important;
}

.firebugLayoutLineBottom {
    border-bottom: 1px solid #999999 !important;
}

.firebugLayoutLineLeft {
    margin-left: -1px !important;
    border-left: 1px solid #999999 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBoxParent {
    border-top: 0 none !important;
    border-right: 1px dashed #E00 !important;
    border-bottom: 1px dashed #E00 !important;
    border-left: 0 none !important;
    position: fixed !important;
    width: auto !important;
}

.firebugRuler{
    position: absolute !important;
}

.firebugRulerH {
    top: -15px !important;
    left: 0 !important;
    width: 100% !important;
    height: 14px !important;
    border-top: 1px solid #BBBBBB !important;
    border-right: 1px dashed #BBBBBB !important;
    border-bottom: 1px solid #000000 !important;
}

.firebugRulerV {
    top: 0 !important;
    left: -15px !important;
    width: 14px !important;
    height: 100% !important;
    END%AEB%60%82") repeat-y !important;
    border-left: 1px solid #BBBBBB !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px dashed #BBBBBB ;
}

.overflowRulerX > .firebugRulerV {
    left: 0 !important;
}

.overflowRulerY > .firebugRulerH {
    top: 0 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.fbProxyElement {
    position: fixed !important;
    pointer-events: auto !important;
}
</style></head>
<body id="body"  style="background:url(__PUBLIC__/Uploads/xiaohuabg.png)">
    <div id="wrap">
        <div id="main">
            <!--Header-->
            <div class="header">
                <div class="header_inner clearfix">
                    <span class="rabi_top"><img src="__PUBLIC__/Uploads/xiaohua1.png"></span>
                    <div class="logobox">
                        <a class="logo" href="" title="~回到首页吧~"><img src="__PUBLIC__/Uploads/xiaohua.png"></a>
                    </div>
                    <form action="/search">
                        <div class="search_box">
                            <input class="search_but" value="" fx="ie6png" type="submit" style="background:url(__PUBLIC__/Uploads/sousou.png)">
                            <input name="query_word" class="search_inp corner12px" fx="corner[radius=12] ie6png" type="text">
                        </div>
                    </form>

                </div>
            </div>


            <!--SUBPAGE-->
            <div class="sub_page_content clearfix">
                <div class="left_wrap">
                    <div class="nav_wrap clearfix">
                        <div class="nav_box corner8px">
                            <div id="main_nav" class="main_nav ">
                                <a class="selected" href="">人气</a> 
                                <a href="">最新</a> 
                                <a href="">随机</a> 
                                <a href="" class="gather">每日一冷</a> 
                                <a href="">审贴</a> 
                                <a id="fabu" >发布</a>
                                <a href="" target="_blank" fx="ie6png" class="app"></a>
                            </div>
                        </div>
                    </div>
                    <!--POST_JOKE-->
                    <div id="post_joke_box" class="post_box corner8px clearfix hidden" style="margin-bottom:20px; border:1px solid #D6D6D6; box-shadow:0 3px 5px #E1E1E1; overflow:hidden;">
                        <a href="javascript:;" onclick="JOKE.closePostBox();return false;" class="btn_close" fx="ie6png" style="top:8px; right:15px;"></a>
                        <div class="pub_cat_box corner8px_top clearfix">
                            <a href="javascript:void(0);" fx="switch[switchid=post_content_text;group=post;]" class="corner8px_lt zarkfx_switch_selected" style="border-left:0;font-size:16px;">文字</a>
                            <a class="zarkfx_switch_unselected" href="javascript:void(0);" fx="switch[switchid=post_content_image;group=post;]" style="font-size:16px;">图片</a>
                            <a class="zarkfx_switch_unselected" href="javascript:void(0);" fx="switch[switchid=post_content_video;group=post;]" style="border-right:1px solid #ddd;font-size:16px;">视频</a>
                        </div>

                        <div id="post_joke_content" class="pub_switch_box corner8px_bottom clearfix">

                            <!-- text joke -->
                            <div style="display: block;" id="post_content_text">
                                <div class="pub_textarea clearfix">
                                <form action="{:U('Home/Lengxiaohua/insert')}" method="post">
                                    <textarea name="content" autocomplete="off" fx="keydown[key=ctrl+enter;target=#post_joke_btn]"></textarea>
                                    <p id="post_tip" class="pub_tip hidden"></p>
                                    <input type="hidden" name="u_id" value="{$userxinxi['id']}">
                                    <input type="submit" id="tj" style="display:none">
                                </form>
                                </div>
                                <a id="post_joke_btn" href="javascript:;" fx="corner[radius=4]" onclick="JOKE.postJoke();return false;" class="btn_submit corner4px" style="_margin-top: 10px;" title="按下Ctrl+Enter可以直接发布">发表</a>

                            </div> <!-- text joke end -->

                            <!-- image joke -->
                            <div style="display: none;" id="post_content_image" class="hidden">
                                <form action="/post/insert" method="POST" enctype="multipart/form-data" class="basicform">
                                    <input name="referer" fx="urlquery[key=post_success;value=1;]" type="hidden">
                                    <div class="clearfix" style="margin-bottom:15px;">
                                        <div class="file corner4px" fx="corner[radius=4]" style="margin-bottom:0;">
                                            <input name="imagefile" autocomplete="off" fx="validation[type=notempty;invalid_id=post_image_error;invalid_msg=请选择一张图片] validation[type=endswith;values=.jpg,.png,.jpeg,.gif;invalid_id=post_image_error;invalid_msg=只能上传jpg/jpeg/png/gif格式的图片;ignorecase;] validation[type=filesize;min=10240;max=4194304;invalid_id=post_image_error;invalid_msg=图片的尺寸必须大于10k,小于4M]" type="file">
                                        </div>
                                    </div>
                                    <div class="pub_textarea clearfix">
                                        <textarea name="content" autocomplete="off" fx="keydown[key=ctrl+enter;target=#post_image_btn] validation[type=maxlen;len=300;invalid_id=post_image_error;invalid_msg=内容太长了;] focusclean[color=#999]" style="height:40px; min-height:40px; box-shadow:none;">输入配图文字(可选)</textarea>
                                        <p style="display: none;" id="post_image_error" class="pub_tip"></p>
                                    </div>
                                    <input name="type" value="image" type="hidden">
                                    <input name="model_name" value="Joke" type="hidden">
                                    <input name="title" value="" type="hidden">
                                    <input id="post_image_btn" fx="corner[radius=4]" class="btn_submit corner4px" style="_margin-top: 10px;" value="发表" title="按下Ctrl+Enter可以直接发布" type="submit">
                                </form>
                            </div> <!-- image joke end -->

                            <!-- video joke -->
                            <div style="display: none;" id="post_content_video" class="hidden">
                                <p class="pub_title">视频地址</p>
                                <input value="请输入在线视频的网络地址" class="video_url_inp" name="video_uri" autocomplete="off" fx="validation[type=notempty;invalid_id=post_video_error;invalid_msg=请把视频地址复制到第一栏] validation[type=regex;regex=.+\.youku\..+|.+\.tudou\..+|.+\.sina\..+|.+\.sohu\..+|.+\.56\.com.+|.+\.ku6\.com.+|.+v\.qq\.com.+|.+\.swf;invalid_id=post_video_error;invalid_msg=这个视频地址不对,请提供包含.swf的flash地址;ignorecase;] validation[type=startswith;values=http;invalid_id=post_video_error;invalid_msg=这个视频地址不对,应该以http开头;ignorecase;] focusclean[color=#999]" style="margin-bottom:10px; width:564px;" type="text">
                                <div class="pub_textarea clearfix">
                                    <textarea name="content" autocomplete="off" fx="validation[type=notempty;invalid_id=post_video_error;invalid_msg=请输入视频介绍] validation[type=minlen;len=10;invalid_id=post_video_error;invalid_msg=视频介绍太短了;] validation[type=maxlen;len=300;invalid_id=post_video_error;invalid_msg=内容太长了;]  validation[type=notequal;value=写一点关于此视频的介绍吧;invalid_id=post_video_error;invalid_msg=请输入视频介绍;] focusclean[color=#999] keydown[key=ctrl+enter;target=#post_video_btn]" style="height:40px; min-height:40px;">写一点关于此视频的介绍吧</textarea>
                                    <p id="post_video_error" class="pub_tip"></p>
                                </div>
                                <a id="post_video_btn" href="javascript:;" fx="corner[radius=4]" onclick="JOKE.postVideoJoke();return false;" class="btn_submit corner4px" style="_margin-top: 10px;" title="按下Ctrl+Enter可以直接发布">发表</a>
                            </div> <!-- video joke end -->

                        </div>
                    </div>
                    <div id="post_joke_success" class="post_box post_success_tip corner8px clearfix hidden" style="margin-bottom: 20px; border: 1px solid rgb(214, 214, 214); box-shadow: 0pt 3px 5px rgb(225, 225, 225); background-color:#fff;" fx="corner[radius=8]">
                        <p>发表成功:</p>
                        <a href="">查看我发布的内容</a>
                        <!--
                        <a href="javascript:;" onclick="JOKE.openPostJokeBox();return false;" >继续发表冷笑话</a>
                        -->
                        <a fx="toggle[target=#post_joke_success]" class="btn_close" style="top:14px; right:15px;"></a>
                    </div>


                    <div id="xiugai_box" fx="corner[radius=8]" class="box01 corner8px modify_password clearfix" style="display:none">
                        <div class="form_wrap clearfix">
                            <form action="/accounts/password?referer=/success?msg=修改成功%26referer=/accounts" method="POST" class="basicform" style=" width:370px; margin-bottom:30px;">
                                <div class="clearfix">
                                    <h2>修改密码</h2>
                                    <p class="title clearfix">
                                        <span class="left">＊原密码</span>
                                        <span style="display: none;" id="mp_password_error" class="error"></span>
                                    </p>
                                    <input name="oldpassword" class="inputFill corner4px" fx="validation[type=notempty;invalid_id=mp_password_error;invalid_msg=请输入原密码]" type="password">
                                    <p class="title clearfix">
                                        <span class="left">＊新密码</span>
                                        <span style="display: none;" id="mp_newpassword_error" class="error"></span>
                                    </p>
                                    <input id="newpassword" name="newpassword" class="inputFill corner4px" fx="validation[type=notempty;invalid_id=mp_newpassword_error;invalid_msg=请输入新密码] validation[type=minlen;len=6;invalid_id=mp_newpassword_error;invalid_msg=密码的长度不能低于6个字符]" type="password">

                                    <p class="title clearfix">
                                        <span class="left">＊再次输入密码</span>
                                        <span style="display: none;" id="mp_password_again_error" class="error"></span>
                                    </p>
                                    <input name="password_again" class="inputFill corner4px" fx="validation[type=identical;another_id=newpassword;invalid_id=mp_password_again_error;invalid_msg=两次输入的密码不相同]" type="password">
                                </div>
                                <div class="clearfix">
                                    <input value="" class="btn_submit2 btn_act left" style="margin:10px 0 20px 0" ;="" type="submit">
                                    <a class="left" href="" style="font-size:14px; margin:30px 0 0 15px;">或返回</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    


<!--SHOW_BOX-->
<!--
<div class="showbox corner8px clearfix hidden">
    <a href="#" class="corner8px"><img fx="ie6png" class="corner8px" src="/img/page/app.jpg" /></a>
</div>
-->



<div id="cat_all_div" fx="position[target=#cat_all;my=center bottom;at=center top;offset=0 67;]" class="float_tag hidden"><span class="tri"></span>全部</div>
<div id="cat_text_div" fx="position[target=#cat_text;my=center bottom;at=center top;offset=0 67;]" class="float_tag hidden"><span class="tri"></span>文字</div>
<div id="cat_pic_div" fx="position[target=#cat_pic;my=center bottom;at=center top;offset=0 67;]" class="float_tag hidden"><span class="tri"></span>图片</div>
<div id="cat_video_div" fx="position[target=#cat_video;my=center bottom;at=center top;offset=0 67;]" class="float_tag hidden"><span class="tri"></span>视频</div>

<div id="hu" class="cat_wrap"> 
    <a  href=""  style="background:url(__PUBLIC__/Uploads/quanbu.png)"><!-- <img src="__PUBLIC__/Uploads/quanbu.png" alt=""> -->
        <!-- <span class="circle_icon" fx="ie6png" ></span> -->
        <!-- 全部 -->
    </a>
    <a id="cat_text" href="" class="cat_text corner4px" fx="corner[radius=4] hovershow[showid=cat_text_div] ie6png" style="background:url(__PUBLIC__/Uploads/wenzi.png)">
        <!-- <span class="circle_icon" fx="ie6png"></span> -->
        <!-- 文字 -->
    </a>
    <a id="cat_pic" href="" class="cat_pic corner4px" fx="corner[radius=4] hovershow[showid=cat_pic_div] ie6png" style="background:url(__PUBLIC__/Uploads/tu.png)">
        <!-- <span class="circle_icon" fx="ie6png"></span> -->
        <!-- 图片 -->
    </a>
    <a id="cat_video" href="" class="cat_video corner4px" fx="corner[radius=4] hovershow[showid=cat_video_div] ie6png" style="background:url(__PUBLIC__/Uploads/shipin.png)">
        <!-- <span class="circle_icon" fx="ie6png"></span> -->
        <!-- 视频 -->
    </a>
</div>

<script type="text/javascript">
    // 获取元素
    $('#hu a').eq(0).click(function(){
        $(this).css('background','url(__PUBLIC__/Uploads/quanbu1.png)');
        $('#hu a').eq(1).css('background','url(__PUBLIC__/Uploads/wenzi.png)');
        $('#hu a').eq(2).css('background','url(__PUBLIC__/Uploads/tu.png)');
        $('#hu a').eq(3).css('background','url(__PUBLIC__/Uploads/shipin.png)');

    });
    // 获取元素
    $('#hu a').eq(1).click(function(){
        $(this).css('background','url(__PUBLIC__/Uploads/wenzi1.png)');
         $('#hu a').eq(0).css('background','url(__PUBLIC__/Uploads/quanbu.png)');
        $('#hu a').eq(2).css('background','url(__PUBLIC__/Uploads/tu.png)');
        $('#hu a').eq(3).css('background','url(__PUBLIC__/Uploads/shipin.png)');
    });
    // 获取元素
    $('#hu a').eq(2).click(function(){
        $(this).css('background','url(__PUBLIC__/Uploads/tu1.png)');
         $('#hu a').eq(1).css('background','url(__PUBLIC__/Uploads/wenzi.png)');
        $('#hu a').eq(0).css('background','url(__PUBLIC__/Uploads/quanbu.png)');
        $('#hu a').eq(3).css('background','url(__PUBLIC__/Uploads/shipin.png)');
    });
    // 获取元素
    $('#hu a').eq(3).click(function(){
        $(this).css('background','url(__PUBLIC__/Uploads/shipin1.png)');
        $('#hu a').eq(1).css('background','url(__PUBLIC__/Uploads/wenzi.png)');
        $('#hu a').eq(2).css('background','url(__PUBLIC__/Uploads/tu.png)');
        $('#hu a').eq(0).css('background','url(__PUBLIC__/Uploads/quanbu.png)');
    });

    $('#guanbi').click(function(){
        $('#login_box').css('display','none');
        $('#zz').css('display','none');

    })

    $('#unplease_login_btn').click(function(){
        $('#login_box').css('display','none');
        $('#zz').css('display','none');
    })
</script>

<!--SHOW_BOX_LEFT-->
<!--INDEX_TOOL_BOX-->
<div id="chose_interval_div" class="toolbox clearfix"> 
    <div class="t_time_wrap">
        <a href="">24h</a>
        <a class="nohover">|</a>
        <a class="selected" href="">本周</a>
        <a class="nohover">|</a>
        <a href="">本月</a>
    </div>
</div>


<!--JOKE-->
<div class="joke_wrap">
    <ul class="joke_ul clearfix">
     
<li class="joke_li" id="joke_li_214359">
    <div class="j_can clearfix">
    <foreach name="arr" item="vo">
        <div class="para_box corner8px">
            <div onmouseover="showReportBtns(this)" onmouseout="hideReportBtns(this)">
                <div class="para_can" id="joke_content_214359">
                    {$vo['content']|chuli}
                </div>
               <!--  <div class="joke_img_box clearfix">
                <div class="default_load_imgbox corner8px" style="width:440px; height:434px; ">
                <img class="corner4px" src="__PUBLIC__{$vo[pic1][0]}">
                </div> -->
                <!-- </div> -->
                <div class="para_info clearfix">
                    <div class="user_info">
                        <img src="__PUBLIC__{$vo[pic][0]}" class="left corner4px" height="40" width="40">
                        <a href="" >{$vo['username']}</a>
                        <p>{$vo['atime']}</p>
                        
                    </div>
                    <div class="para_tool" name="{$vo['xid']}">
                        <a report="like_joke" jokeid="214234">
                            <span>顶</span>
                            <span id="ding{$vo['xid']}">({$vo['ding']})</span>
                        </a>
                        <a report="unlike_joke" jokeid="214234">
                            <span>踩</span>
                            <span id="cai{$vo['xid']}">({$vo['cai']})</span>
                        </a>
                        <div class="share_block">
                            <span js="share_btn" joke_id="214359">分享</span>
                            <div style="opacity: 0;" id="share_box_214359" fx="corner[radius=4]" class="share corner4px clearfix hidden">
                                    <a fx="share[site=sinaweibo; content_selector=#joke_content_214359 &amp;[js=joke_summary&amp;]; pic_selector=#joke_content_214359 &amp;[js_share=image&amp;]; appkey=2145236240; ralateUid=1642635773; link_selector=#view_all_joke_214359;]" class="sina" title="分享到新浪微博" style="margin-left:0;"></a>
                                    <a fx="share[site=tencentweibo; content_selector=#joke_content_214359 &amp;[js=joke_summary&amp;]; pic_selector=#joke_content_214359 &amp;[js_share=image&amp;]; appkey=801137460; assname=30818627; link_selector=#view_all_joke_214359;]" class="qq" title="分享到腾讯微博"></a>
                                    <a fx="share[site=renren; content_selector=#joke_content_214359 &amp;[js=joke_summary&amp;]; pic_selector=#joke_content_214359 &amp;[js_share=image&amp;];  link_selector=#view_all_joke_214359;]" class="renren" title="分享到人人"></a>
                                <span class="tri"></span>
                            </div>
                        </div>
                        <a href="javascript:;" onclick="openComments(214359, 'joke');return false;">
                            <span>评论</span>
                            <span id="show_comment_count_214359">(2)</span>
                            <span class="tri hidden" fx="ie6png" js="comment_line_214359"></span>
                            <span class="loading01 hidden" js="loading_214359"></span>
                        </a>
                        <a id="view_all_joke_214359" href="" target="_self">
                            <span>查看全文</span>
                        </a>
                        <input id="comment_count_214359" value="2" autocomplete="off" type="hidden">
                    </div>
               </div>
            </div>
           <div class="j_comment" id="j_comment_214359" style="display:none;">

                <div js="comment_line_214359" class="comment_line"> </div>
                <div js="comments" class="hidden"></div>

                <div id="post_comment_214359" class="tool_box clearfix">
                    <div name="post_btn" class="btn_box clearfix">
                        <a class="t_b_trigger" href="javascript:;" onclick="openPostComment(214359);return false;">发表评论</a>
                    </div>
                    <div name="post_box" class="post_box clearfix hidden">
                        <textarea class="t_b_reply" fx="keydown[key=ctrl+enter;target=#post_comment_submit_214359;]" id="comment_content_214359" autocomplete="off" name="content"></textarea>
                        <p js="error_tip" class="left" style="color:red;"></p>
                        <a id="post_comment_submit_214359" class="btn_reply" href="javascript:;" onclick="postComment(214359);return false;">回复</a>
                    </div>
                </div>

           </div>
       </div>
       <div class="bottom_fill left">
           <span class="bottom_left" fx="ie6png"></span>
           <span class="bottom_mid" fx="ie6png"></span>
           <span class="bottom_right" fx="ie6png"></span>
       </div>
    </foreach>

    <script type="text/javascript">
       // $('.para_tool a').find('span:nth-child(2)').click(function() {
       //      var id = $(this).attr('name');
       //      alert(id);
       // });
        $('.para_tool a:nth-child(1)').click(function(){
            var idd = $(this).parents('.para_tool').attr('name');
            $.get('{:U('Home/Lengxiaohua/ding')}',{'xid':idd,'dings':1},function(data){
                if(data==1){
                    var a=data;
                    var vv=$('#ding'+idd).html();
                    var reg = /\((\d*)\)/;
                    var ss=reg.exec(vv)[1];
                    var nn=parseInt(ss)+1;
                    $('#ding'+idd).html('('+nn+')');
                }else{
                    alert('操作失败');
                }
                
            }) 
        })


        // 操作发布按钮，让用户登录
             $('#fabu').mousedown(function(){
                    $('#jump_register_form').css('display','block');
                    $('#login_box').css('display','block');
                    $('#zz').css('display','block');
                    return false;
                    // alert('aa');

                    });


        // 改变踩的值
        $('.para_tool a:nth-child(2)').click(function(){
            var idd = $(this).parents('.para_tool').attr('name');
            $.get('{:U('Home/Lengxiaohua/cai')}',{'xid':idd,'cais':1},function(data){
                if(data==1){
                    var a=data;
                    var vv=$('#cai'+idd).html();
                    var reg = /\((\d*)\)/;
                    var ss=reg.exec(vv)[1];
                    var nn=parseInt(ss)+1;
                    $('#cai'+idd).html('('+nn+')');
                }else{
                    alert('操作失败');
                }
                
            }) 
        })
    </script>
</div>
</li>
   
    </ul>

    <div  class="zarkfx_pagination_default" fx="pagination[style=default;max=18;displaycount=10;firsttext=第一页;lasttext=末页;]">
        <ul>
            <!-- <li><a href="{:U('Home/Lengxiaohua/lengxiaohua')}??pagenow={$pagenow-1}">第一页</a></li> -->
            <li class="zarkfx_pagination_current_page">
                <a href="{:U('Home/Lengxiaohua/lengshouye')}?pagenow={$pagenow-1}">上一页</a>
            </li>

            <for start="1" end="$pagecount+1" name="i">
                <li class="zarkfx_pagination_current_page">
                    <a href="{:U('Home/Lengxiaohua/lengshouye')}?pagenow={$i}">{$i}</a>
                </li>
            </for>

            <li class="zarkfx_pagination_current_page"><a href="{:U('Home/Lengxiaohua/lengshouye')}?pagenow={$pagenow+1}">下一页</a></li>
        </ul>
    </div>
</div>


                </div>
                <div class="right_wrap">
                    
<div class="share_box box01 clearfix corner8px" fx="corner[radius=8]">

    <div class="weibo_login" style="background:url(__PUBLIC__/Uploads/xinlang.png)">
        <a class="sina" fx="ie6png" href="" title="去 '新浪微博' 捧捧场" target="_blank"></a>
        <a class="qq" fx="ie6png" href="" title="去 '腾讯微博' 捧捧场" target="_blank"></a>
    </div>

    <p class="fun_count">已有<span>618858人</span>加入冷笑话</p>

    <div class="other_login corner8px clearfix" fx="corner[radius=8]">
        <a href="" target="_blank" class="other_qq">QQ登录</a>
        <a href=""target="_blank" class="other_sina">微博登录</a>
        <a href="" target="_blank" class="other_renren">人人登录</a>
    </div>

</div>
<div style="display: block;" id="right_sign_box" class="sign_box hidden">
    <div class="btnbox clearfix">
        <a fx="ie6png" href="javascript:;" class="btn_login btn_act" style="margin-right:13px;background:url(__PUBLIC__/Uploads/denglu.png)" onclick="changeLoginBox('login');return false;"></a>
        <a fx="ie6png" href="javascript:;" class="btn_signup btn_act" style="background:url(__PUBLIC__/Uploads/zhuce.png)"onclick="changeLoginBox('register');return false;"></a>

    </div>
    <div class="clearfix">
        <div tabindex="1" id="login_form" class="sign_form left corner4px hidden" fx="keydown[key=enter;target=#right_login_post_btn;]">
            <form action="{:U('Home/Lengxiaohua/Lengxiaohua')}" method="post">
                <label>邮箱地址</label>
                <input id="shuruyouxiang" name="youxiang" fx="validation[type=notempty;invalid_id=login_error_tip;invalid_msg=请输入邮箱地址] validation[type=email;invalid_id=login_error_tip;invalid_msg=请输入正确的邮箱地址]" type="text">
                <label>密码</label>
                <input id="shurumima" name="pass" maxlength="60" fx="validation[type=notempty;invalid_id=login_error_tip;invalid_msg=请输入密码]" type="password">
                <div class="rem_box clearfix">
                    <input name="rememberme" autocomplete="off" type="checkbox"><p>记住我</p>
                    <a href="">忘记密码?</a>
                </div>
                <div class="clearfix">
                   <!--  <a href="javascript:void(0);" id="right_login_post_btn" fx="corner[radius=4]" class="btn_submit corner4px" style="width:100%; border:0; margin:0;" onclick="rightLogin();return false;"> -->
                   <input type="submit" id="right_login_post_btn" fx="corner[radius=4]" class="btn_submit corner4px" style="width:100%; border:0; margin:0;" value="登入"><!-- </a> -->
                </div>
           
                <div class="clearfix" style="margin-top:10px;">
                    <p id="login_error_tip" class="corner4px" fx="corner[radius=4]"></p>
                </div>
            </form>
        </div>
    <div id="zz"></div> 
        <style type="text/css">
            #zz{
                position:fixed;
                left:0;
                top:0;
                width:100%;
                height:2000px;
                background:black;
                opacity: 0.5;
                display:none;
                z-index: 999;
            }
        </style>
        <div tabindex="1" id="signup_form" class="sign_form left corner4px hidden" fx="keydown[key=enter;target=#right_reg_post_btn;]">
        <form action="{:U('Home/Lengxiaohua/lengzhuce')}" method="post">
            <div class="clearfix">
                <p class="title_info corner4px">注册冷帐号</p>
                <label>邮箱地址</label><input id="youxiangdizhi" name="youxiang" maxlength="100" fx="validation[type=email;invalid_id=reg_error_tip;invalid_msg=请输入正确的邮箱地址]" type="text">
                <label>用户名</label><input id="yonghuming" name="username" maxlength="16" fx="validation[type=notempty;invalid_id=reg_error_tip;invalid_msg=请输入用户名] validation[type=minlen;len=2;invalid_id=reg_error_tip;invalid_msg=用户名不能低于2个字符]" type="text">
                <label>密码</label><input id="right_reg_password" name="pass" fx="validation[type=notempty;invalid_id=reg_error_tip;invalid_msg=请输入密码] validation[type=minlen;len=6;invalid_id=reg_error_tip;invalid_msg=密码不能低于6个字符]" type="password">
                <label>重复密码</label><input id="right_reg_repassword" name="pass1" maxlength="60" fx="validation[type=identical;another_id=right_reg_password;invalid_id=reg_error_tip;invalid_msg=两次输入的密码不相同]" type="password">
                <label>性别</label>
                <select name="sex" autocomplete="off">
                    <option selected="selected" value="男">男孩</option>
                    <option value="女">女孩</option>
                    <option value="保密">保密</option>
                </select>
            </div>
            <div class="clearfix">
                <!-- <a href="javascript:void(0);" id="right_reg_post_btn" fx="corner[radius=4]" class="btn_submit corner4px" style="width:100%; border:0; margin:0; float:left;" type="submit">提交注册</a> -->
                <input type="submit" id="right_reg_post_btn" fx="corner[radius=4]" class="btn_submit corner4px" style="width:100%; border:0; margin:0; float:left;" value="提交注册">
            </div>
       
            <div class="clearfix" style="margin-top:10px;">
                <p id="reg_error_tip" class="corner4px" fx="corner[radius=4]"></p>
            </div>
         </form>
        </div>
    </div>
</div>

<div class="clearfix" style="margin-bottom:15px;">
    <div id="user_info" fx="corner[radius=8]" class="r_wrap01 box01 corner8px clearfix hidden">
        <div class="inner">
            <a href="#" id="home_link"></a>
            <a href="javascript:;" onclick="ZarkF.logout();return false;" class="quit">退出</a>
        </div>
    </div>

    <!--PUB BTN
    <a fx="ie6png" id="right_post_joke_btn" class="btn_pub btn_act" style="display: none;" href="javascript:;" onclick="JOKE.openPostJokeBox();return false;"></a>
    -->

    <!--APP ENTER-->
    <!--
    <a class="app_enter clearfix" href="/html/app.html" target="_blank" >
        <span class="app_icon" fx="ie6png"></span>
        <span class="app_banner" fx="ie6png"></span>
    </a>
    -->

    <!--SHOW_BOX_RIGHT-->
</div>

<!--AD_2d-->
<div class="box02 ad_2d_box clearfix corner8px" fx="corner[radius=8]">
    <span class="ad_2d" style="background:url(__PUBLIC__/Uploads/shaome.png)"></span>
    <p class="ad_2d_p"><span>微信</span>扫描左图订阅我们爱讲冷笑话，每日最冷编辑推送</p><p>
</p></div>

<!--f LINK-->
<div class="box02 f_link_box clearfix corner8px" fx="corner[radius=8]">
    <div class="title_box clearfix">
        <span fx="ie6png" style="background:url(__PUBLIC__/Uploads/tuijie.png)"></span>
        <h3>网站推荐</h3>
    </div>
    <ul class="link_group clearfix">
        <li><a href="" target="_blank">冷兔论坛</a></li>
        <li><a href="" target="_blank">微信导航</a></li>
        <li><a href="" target="_blank">hao123</a></li>
        <li><a href="" target="_blank">360导航</a></li>
        <li><a href="" target="_blank">搜狗导航</a></li>
        <li><a href="" target="_blank">内推网</a></li>
    </ul>
</div>


                    <div class="qq2D_browser"></div>
                </div>
            </div>
        </div>

        <!--FOOTER-->
        <div id="footer" class="footer clearfix">
            <div class="info_inner">
                <div class="site_info clearfix">
                    <div class="s_i_link left">
                        <a href="">意见反馈</a>
                        <a href="">关于冷站</a>
                        <a href="">联系我们</a>
                        <a href="">免责申明</a>
                        <a href="" target="_blank">官方软件下载</a>
                    </div> 
                    <div class="cp_info right">Copyright © 2007-2012 我们爱讲冷笑话 京ICP备12048704号-5</div>
                </div>
            </div>
        </div>
 
        <!--JUMP_OVER_LAYER-->
        <div id="overlayer" fx="overlayer"></div>

        <!--JUMP_SIGN_BOX-->
        <div tabindex="1" id="login_box" fx="browsercenter corner[radius=8] keydown[key=esc;target=#unplease_login_btn;]" class="jump_box clearfix corner8px " style="display: none; top: 165.5px; left: 424.5px; position: fixed;">
            <div id="jump_login_form" class="j_b_inner clearfix " style="display: none">
         <form method="post" action="{:U('Home/Lengxiaohua/lengxiaohua')}">
                <div tabindex="1" class="j_b_leftbox" fx="keydown[key=enter;target=#jump_login_post_btn;]">
                    <h4>登录冷笑话</h4>
                    <label>邮箱地址</label><span id="tishi" style="color:red;display:none;"></span>
                    <input name="youxiang" fx="validation[type=notempty;invalid_id=jump_error_tip;invalid_msg=请输入邮箱地址] validation[type=email;invalid_id=jump_error_tip;invalid_msg=请输入正确的邮箱地址]" type="text" id="xiao_youxiang">
                    <label>密码</label>
                    <input name="pass" maxlength="60" fx="validation[type=notempty;invalid_id=jump_error_tip;invalid_msg=请输入密码]" type="password" id="xiao_mima">
                    <div class="rem_box clearfix">
                        <label>
                            <input name="rememberme" autocomplete="off" type="checkbox">
                            记住我
                        </label>
                        <a href="">忘记密码?</a>
                    </div>
                    <a href="" id="jump_login_post_btn"  class="btn_login btn_act" style="margin-top:7px; margin-left:65px;"><input type="submit" value="提交" style="margin-left:-60px" id="xiao_tijiao"></a>
                    <p  style="display: none;"id="jump_error_tip" class="jump_error_tip01"></p>
                </div>
            </form>
                <div class="j_b_rightbox clearfix">
                    <a id="unplease_login_btn" href="javascript:;" onclick="ZarkF.unpleaseLogin();return false;" class="btn_close"></a>
                    <h4>没有帐号?</h4>
                    <p>赶紧注册！一起爆料围观大家的冷事、糗事、囧事吧！</p>
                    <a href="javascript:;" onclick="changeJumpLogin('register');return false;" class="btn_signup2 btn_act" style="margin:0 auto; line-height:37px;"><img src="__PUBLIC__/Uploads/zczh.png" alt=""></a>
                    <!--
                    <a href="javascript:;" onclick="alert('注册功能维护中，请稍后再试');return false;" class="btn_signup2 btn_act" style="margin:0 auto; line-height:37px;" ></a>
                    -->
                </div>
            </div>
            <div id="jump_register_form" class="j_b_inner " style="display: none">
                <a fx="ie6png" href="" id="guanbi" return false; class="btn_close"></a>
                <div tabindex="1" class="j_b_allbox clearfix signup" fx="keydown[key=enter;target=#jump_reg_post_btn;]">
                    <span class="rabi"></span>
                    <h4 style="margin-bottom:16px;">注册冷帐号</h4>
                    <a class="back_tip" href="javascript:;" id="denglu" onclick="changeJumpLogin('login');return false;">返回登录</a>
                <form action="{:U('Home/Lengxiaohua/lengzhuce')}" method="post">
                    <div class="left" style="width:220px; margin-right:10px;">
                        <label>邮箱地址</label><span id="yincang" style="color:red;display:none"></span>
                        <input id="youxiang1" name="youxiang" maxlength="100" type="text">
                        <label>密码</label>
                        <input id="jump_reg_password" maxlength="60" name="pass" fx="validation[type=notempty;invalid_id=jump_reg_error_tip;invalid_msg=请输入密码] validation[type=minlen;len=6;invalid_id=jump_reg_error_tip;invalid_msg=密码不能低于6个字符]" type="password">
                        <label>重复密码</label>
                        <input id="jump_reg_password2" fx="validation[type=identical;another_id=jump_reg_password;invalid_id=jump_reg_error_tip;invalid_msg=两次输入的密码不相同]" type="password">
                    </div>
                    <div class="left" style="width:220px;">
                        <label>用户名</label>
                        <input name="username" id="xiao_username" maxlength="16" fx="validation[type=notempty;invalid_id=jump_reg_error_tip;invalid_msg=请输入用户名] validation[type=minlen;len=2;invalid_id=jump_reg_error_tip;invalid_msg=用户名不能低于2个字符]" type="text">
                        <label>性别</label>
                        <select autocomplete="off" name="sex"><option selected="selected" value="男">男孩</option><option value="女">女孩</option><option value="unknown">保密</option></select>
                        <a href="" id="jump_reg_post_btn"  class="btn_submit2 btn_act"><input type="submit" value="提交"></a>
                    </div>
                </form>
                    <p style="display: none;" id="jump_reg_error_tip" class="jump_error_tip02"></p>
                </div>
            </div>
        </div>


        <!--Scroll -->
        <a fx="scroll[bottom=90;right=20;speed=0;]" class="scroll" href="#">
            <p class="corner4px"></p>
        </a>

        <!--REPORT_JOKE-->
        <div id="report_joke_box" fx="browsercenter corner[radius=8]" class="l_wrap01 jump_box post_box corner8px clearfix " style="height:200px; padding-bottom:10px; display: none;">
            <div class="j_b_inner" style="width:585px; height:180px; border:0; background: transparent;">
                <a return false; class="btn_close" fx="ie6png"></a>
                <div class="clearfix">
                    <h4 style="margin-bottom:16px;">哪里出问题了?</h4>
                    <textarea name="content" fx="focusclean[color=#999]" autocomplete="off" style="height:70px; max-height:70px; min-height:70px; resize:none; float: left;">请填写您的举报理由...</textarea>
                    <a href="javascript:;" onclick="JOKE.reportJoke();return false;" class="btn_submit2 btn_act right"></a>
                </div>
            </div>
        </div>
    </div>
        
    <!--baidu analysis-->
    <script type="text/javascript">
        // var eee = {$eee};
        // if(eee==1){
        //     $('#login_form').css('display','block');
        //     $('#login_error_tip').html('用户名或密码错误');
        //     $('#right_login_post_btn').click(function(){
        //             return true;}
        // }



        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F69c02520068c43c4860863f4969ee4f3' type='text/javascript'%3E%3C/script%3E"));
    </script><script src="__PUBLIC__/Home/lengshouye_files/h.js" type="text/javascript"></script>

    <!--tengxun analysis-->
    <script type="text/javascript" src="__PUBLIC__/Home/lengshouye_files/stats" charset="UTF-8"></script>

    // <script type="text/javascript">
        var yyy;
        var ppp;
        // 当输入邮箱，丧失焦点后
        $('#shuruyouxiang').blur(function(){
            // 获取输入的值
            // alert('aa');
            var str=$('#shuruyouxiang').val();
            var reg=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            // 进行匹配
            var res=reg.test(str);
            // alert(res);
            if(res){
                $('#login_error_tip').html('');
                yyy = 1;
            }else{
                $('#login_error_tip').html('请输入正确的邮箱格式');
                 yyy=0; 
            }
        })

        // 当输入密码，丧失焦点后
        $('#shurumima').blur(function(){
            // 获取输入的值
            var str=$('#shurumima').val();
            // alert('aa');
            var reg=/^\w{6,16}$/;
            var res=reg.test(str);
            // alert(res);
            if(res){
                $('#login_error_tip').html('');
                ppp=1;
            }else{
                $('#login_error_tip').html('请输入6-16位的密码');
               ppp=0;
            }

        })

         $('#right_login_post_btn').click(function(){
            $('#shuruyouxiang').blur();
            $('#shurumima').blur();
            if(yyy!=1 || ppp!=1){
                return false;
            }
         })
        // 注册用户的时候，当输入邮箱丧失焦点的时候
        var youxiang;
        var mima;
        var yonghuming;
        var mima2;
        $('#youxiangdizhi').blur(function(){
            var str=$('#youxiangdizhi').val();
            var reg=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#reg_error_tip').html('');
                youxiang=1;
            }else{
                $('#reg_error_tip').html('请输入正确的邮箱格式');
                youxiang=0;
            }
        })

        // 用户注册的时候，填写用户名
        $('#yonghuming').blur(function(){
            var str=$('#yonghuming').val();
            var reg=/^\w{6,16}$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#reg_error_tip').html('');
                yonghuming=1;
            }else{
                $('#reg_error_tip').html('请输入6-16位的用户名');
                yonghuming=0;
            }
        })



        // right_reg_password


        // 用户注册的时候，用户填写密码
        $('#right_reg_password').blur(function(){
            var str=$('#right_reg_password').val();
            var reg=/^\w{6,16}$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#reg_error_tip').html('');
                mima=1;
            }else{
                $('#reg_error_tip').html('请输入6-16位的密码');
                mima=0;
            }
        })

        // 用户注册的时候，用户重新填写密码
        $('#right_reg_repassword').blur(function(){
            var str=$('#right_reg_repassword').val();
            var str1=$('#right_reg_password').val();
            
            if(str==str1){
                $('#reg_error_tip').html('');
               mima2=1;
            }else{
                $('#reg_error_tip').html('两次输入的密码不相同');
                mima2=0;
            }
        })

        $('#right_reg_post_btn').click(function(){
                $('#youxiangdizhi').blur();
                $('#yonghuming').blur();
                $('#right_reg_password').blur();
                $('#right_reg_repassword').blur(); 
                if(youxiang!=1 || mima!=1 || mima2!=1 || yonghuming!=1){
                    return false;
                }
        }) 



        // 当点击发布后，弹出的注册账号的框中

        var aa;
        var bb;
        var cc;
        var dd;
        $('#youxiang1').blur(function(){
            // alert('aa');
            var str=$('#youxiang1').val();
            var reg=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#yincang').html('');
                aa=1;
            }else{
                $('#yincang').css('display','block');
                $('#yincang').html('请输入正确的邮箱格式');
                aa=0;
            }

        })

        $('#jump_reg_password').blur(function(){
            var str=$('#jump_reg_password').val();
            var reg=/^\w{6,16}$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#yincang').html('');
                bb=1;
            }else{
                $('#yincang').css('display','block');
                $('#yincang').html('请输入6-16位的密码');
                bb=0;
            }
        })

        // xiao_username

        $('#xiao_username').blur(function(){
            var str=$('#xiao_username').val();
            var reg=/^\w{6,16}$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#yincang').html('');
                dd=1;
            }else{
                $('#yincang').css('display','block');
                $('#yincang').html('请输入6-16位的用户名');
                dd=0;
            }
        })

        $('#jump_reg_password2').blur(function(){
            var str=$('#jump_reg_password').val();
            var str1=$('#jump_reg_password2').val();
            if(str==str1){
                $('#yincang').html('');
                cc=1;
            }else{
                $('#yincang').css('display','block');
                $('#yincang').html('两次输入的密码不相同');
                cc=0;
            }
        })


        $('#jump_reg_post_btn').click(function(){
                $('#youxiang1').blur();
                $('#jump_reg_password').blur();
                $('#jump_reg_password2').blur();
                if(aa!=1 || bb!=1 || cc!=1 || dd!=1){
                    return false;
                }
            })

        // 弹出小框，登录
        var ee;
        var ff;
        $('#xiao_youxiang').blur(function(){
            var str=$('#xiao_youxiang').val();
            var reg=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#xiao_youxiang').html('');
                ee=1;
            }else{
                $('#tishi').css('display','block');
                $('#tishi').html('请输入正确的邮箱格式');
                ee=0;
            }
        })

        $('#xiao_mima').blur(function(){
            var str=$('#xiao_mima').val();
            var reg=/^\w{6,16}$/;
            // 进行匹配
            var res=reg.test(str);
            if(res){
                $('#xiao_mima').html('');
                ff=1;
            }else{
                $('#tishi').css('display','block');
                $('#tishi').html('请输入6-16位的密码');
                ff=0;
            }
        })

        $('#xiao_tijiao').click(function(){
            $('#xiao_youxiang').blur();
            $('#xiao_mima').blur();
            if(ee!=1 || ff!=1){
                    return false;
                }
        })
    </script>

<!-- 正则表达式 邮箱/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ -->

</body></html>