<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>58同城残疾人专属招聘</title>
    <!-- base href="http://about.58.com/hr/canjiren/?utm_source=market&spm=b-31580022738699-me-f-824.bdpz_logo" -->
    <link rel="stylesheet" href="__PUBLIC__/Home/cj_files/about.css" type="text/css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/Home/cj_files/canji.css" type="text/css" media="all">
	<script src="__PUBLIC__/Home/cj_files/ga.js" async="" type="text/javascript"></script><script type="text/javascript" src="__PUBLIC__/Home/cj_files/jquery-1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/cj_files/hrcanji_v1.js"></script>
    <style>
    .box658{min-height: 542px;_height:542px;}
    .oddline{background:#EFF8F2!important;}
    .noinfo{font: 14px/1.4 "Microsoft Yahei","SimSun";overflow:hidden;padding:30px 0;text-align:center;}
    .pagenav a{display:inline-block;}
    dl#type_tab dd span{width:auto;margin-right:30px;}
    dl.box658_tab dd a {display: inline-block;line-height:24px;padding: 0 4px;margin:2px 0;}
    .jl_title {font: 14px/1.4 "Microsoft Yahei","SimSun";background-color: #E1F7DF;padding: 10px 0;margin:20px 20px 0;overflow:hidden;zoom:1;}
    .jl_title span {display: inline-block;float: right;text-align: left;width: 98px;padding-left:20px;}
    .jl_title .j_fl {float:left;}
    .job_list{margin:0 20px 20px;}
    .job_list li {font: 14px/1.4 "Microsoft Yahei","SimSun";color: #666666;background-color: #F9FFFA;padding: 10px 0;overflow:hidden;zoom:1;}
    .job_list li a {float: left;margin-left: 20px;}
    .job_list li .hot {float: left;margin-top: 4px;margin-left: 10px;background: url(http://about.58.com/home/images/hrpic.png) no-repeat -34px 0;width: 24px;height: 14px;padding-bottom: 0;overflow:hidden;}
	.job_list li span {display: inline-block;float: right;text-align: left;width: 98px;padding-left:20px;}
    </style>
</head>
<body style="background-color:#eaf2e6;">
    <div id="header">
        <div id="headerinside">
            <a target="_self" id="logo" href="{:U('Home/Index/index')}">
                <img alt="中文最大生活信息门户" src="__PUBLIC__/Home/cj_files/logonew.gif"></a>
            <div id="hr-canji-logo">
                <span>残疾人绿色通道</span></div>
        </div>
    </div>
    <!--header-->
	<div id="nav">
		<div id="navlist">
			<ul>
				<li class="select"><a href="">首页</a></li>
				<li><a href="">58简介</a></li>
				<li><a href="">58环境</a></li>
				<li><a href="">58大事记</a></li>
				<li><a href="">58团队掠影</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
		</div>
	</div>
	<h1 style="width:998px;height:337px;margin:0 auto;background:url(__PUBLIC__/Home/cj_files/xiao.png) no-repeat"><span>残疾人绿色通道，200多个岗位，我们在这里等你</span></h1>
	<div class="canji-container win1000 clearfix">
		<div class="box658 left">
			<dl class="box658_tab" id="city_tab">
				<dt>工作地点</dt>
				<dd class="clearfix">
					<span><a class="selected" city="" target="_self" href="javascript:void(0)">全部</a> </span>
					<span><a class="" city="bj" target="_self" href="javascript:void(0)">北京</a> </span>
					<span><a city="sh" target="_self" href="javascript:void(0)">上海</a> </span>
					<span><a city="gz" target="_self" href="javascript:void(0)">广州</a> </span>
					<span><a city="sz" target="_self" href="javascript:void(0)">深圳</a> </span>
					<span><a city="tj" target="_self" href="javascript:void(0)">天津</a></span>
					<span><a city="cs" target="_self" href="javascript:void(0)">长沙</a></span>
					<span><a city="cd" target="_self" href="javascript:void(0)">成都</a></span>
					<span><a city="hz" target="_self" href="javascript:void(0)">杭州</a></span>
					<!-- <span><a href="javascript:void(0)" target="_self" onclick="getcity('cc',this)">长春</a></span>-->
					<span><a city="sjz" target="_self" href="javascript:void(0)">石家庄</a></span>
					<!-- <span><a href="javascript:void(0)" target="_self" onclick="getcity('zs',this)">中山</a></span>-->
					<span><a city="wh" target="_self" href="javascript:void(0)">武汉</a></span>
					<span><a city="hrb" target="_self" href="javascript:void(0)">哈尔滨</a></span>
					<span><a city="wx" target="_self" href="javascript:void(0)">无锡</a></span>
					<span><a city="sy" target="_self" href="javascript:void(0)">沈阳</a></span>
					<span><a city="hf" target="_self" href="javascript:void(0)">合肥</a></span>
					<!--<span><a href="javascript:void(0)" target="_self" onclick="getcity('km',this)">昆明</a></span>
					<span><a href="javascript:void(0)" target="_self" onclick="getcity('xa',this)">西安</a></span>-->
					<span><a city="jn" target="_self" href="javascript:void(0)">济南</a></span>
					<span><a city="nj" target="_self" href="javascript:void(0)">南京</a></span>
					<span><a city="su" target="_self" href="javascript:void(0)">苏州</a></span>
					<!-- <span><a href="javascript:void(0)" target="_self" onclick="getcity('zz',this)">郑州</a></span> -->
					<!--<span><a href="javascript:void(0)" target="_self" onclick="getcity('fs',this)">佛山</a></span>-->
					<span><a city="cq" target="_self" href="javascript:void(0)">重庆</a></span>
					<span><a city="dg" target="_self" href="javascript:void(0)">东莞</a></span>
					<span><a city="xm" target="_self" href="javascript:void(0)">厦门</a></span>
					<span><a city="dl" target="_self" href="javascript:void(0)">大连</a></span>
					<span><a city="nn" target="_self" href="javascript:void(0)">南宁</a></span>
					<span><a city="qd" target="_self" href="javascript:void(0)">青岛</a></span>
					<span><a city="fz" target="_self" href="javascript:void(0)">福州</a></span>
					<!--<span> <a href="javascript:void(0)" target="_self" onclick="getcity('ty',this)">太原</a> </span>-->
				</dd>
			</dl>
			<dl class="box658_tab" id="type_tab">
				<dt>职位分类</dt>
				<dd class="clearfix">
					<span><a class="selected" type="" target="_self" href="javascript:void(0)">全部</a></span> 
					<span><a type="xs" target="_self" href="javascript:void(0)">销售类</a> </span>
					<span><a type="glzc" target="_self" href="javascript:void(0)">管理支持类</a> </span>
					<span><a type="js" target="_self" href="javascript:void(0)">技术类</a> </span>
					<!-- <span><a href="javascript:void(0)" target="_self" onclick="gettype('cp',this)">产品类</a></span> --> 
					<!-- <span><a href="javascript:void(0)" target="_self" onclick="gettype('sc',this)">市场类</a></span> -->
					<span><a type="yy" target="_self" href="javascript:void(0)">运营类</a></span>
					<!-- <span><a href="javascript:void(0)" target="_self" onclick="gettype('sj',this)">设计类</a> </span>-->				
				</dd>
			</dl>
			<div class="jl_title"><span class="j_fl">职位名称</span><span>发布时间</span><span>工作地点</span><span>职位类别</span></div>
			<ul class="job_list">
				<li style="display: none;" city="bj" type="yy"><a href="http://bj.58.com/kefu/14031680101123x.shtml">审核专员</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">北京</span><span class="zw">运营类</span></li>
				<li class="oddline" style="display: none;" city="sh" type="xs"><a href="http://sh.58.com/yewu/9939288151557x.shtml">销售员</a>
				<span class="time">今天</span><span class="city">上海</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sh" type="yy"><a href="">网站编辑</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">上海</span><span class="zw">运营类</span></li>
				<li class="oddline" style="display: none;" city="gz" type="xs"><a href="{:U('Home/Zhaopin/ywy')}">业务员</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">广州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="gz" type="yy"><a href="">网站编辑</a>
				<span class="time">今天</span><span class="city">广州</span><span class="zw">运营类</span></li>
				<li class="oddline" style="display: none;" city="sz" type="js"><a href="">网页制作</a>
				<span class="time">今天</span><span class="city">深圳</span><span class="zw">技术类</span></li>
				<li style="display: none;" city="sz" type="xs"><a href="">业务员</a>
				<span class="time">今天</span><span class="city">深圳</span><span class="zw">销售类</span></li>
				<li class="oddline" style="display: none;" city="sz" type="yy"><a href="http://sz.58.com/renli/14816431099395x.shtml">文员（只接收残疾人）</a>
				<span class="time">今天</span><span class="city">深圳</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="sz" type="yy"><a href="http://sz.58.com/kefu/14816055428354x.shtml">客服(只接收残疾人）</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">深圳</span><span class="zw">运营类</span></li>
				<li class="oddline" style="display: none;" city="sz" type="xs"><a href="">高级销售专员</a>
				<span class="time">今天</span><span class="city">深圳</span><span class="zw">销售类</span></li>
                <li style="display: list-item;" city="tj" type="yy"><a href="">信息审核员</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">天津</span><span class="zw">运营类</span></li>
                <li class="oddline" style="display: list-item;" city="tj" type="yy"><a href="">客服</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">天津</span><span class="zw">运营类</span></li>
				<li style="display: list-item;" city="tj" type="yy"><a href="">SEO排名工程师</a>
				<span class="time">今天</span><span class="city">天津</span><span class="zw">运营类</span></li>
				<li class="oddline" style="display: list-item;" city="tj" type="yy"><a href="http://tj.58.com/yewu/15361016210954x.shtml">网络推广顾问</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">天津</span><span class="zw">运营类</span></li>
				<li style="display: list-item;" city="tj" type="xs"><a href="http://tj.58.com/yewu/14388312411530x.shtml">销售助理</a>
				<span class="time">今天</span><span class="city">天津</span><span class="zw">销售类</span></li>
				<li class="oddline" style="display: list-item;" city="cs" type="glzc"><a href="http://cs.58.com/zpcaiwushenji/14464788610824x.shtml">出纳</a>
				<span class="time">今天</span><span class="city">长沙</span><span class="zw">管理支持类</span></li>
				<li style="display: list-item;" city="cs" type="xs"><a href="http://cs.58.com/yewu/10426546265347x.shtml">销售代表</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">长沙</span><span class="zw">销售类</span></li>
				<li class="oddline" style="display: list-item;" city="cs" type="yy"><a href="http://cs.58.com/kefu/10583243869316x.shtml">客服专员</a>
				<span class="time">今天</span><span class="city">长沙</span><span class="zw">运营类</span></li>
				<li style="display: list-item;" city="cd" type="xs"><a href="http://cd.58.com/yewu/11720524595331x.shtml">电话销售</a>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li class="oddline" style="display: list-item;" city="cd" type="yy"><a href="http://cd.58.com/renli/14915547832586x.shtml">文员</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="cd" type="xs"><a href="http://cd.58.com/yewu/9808887405063x.shtml">销售</a>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="cd" type="xs"><a href="http://cd.58.com/shichang/12174293230084x.shtml">商务顾问</a>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="cd" type="xs"><a href="http://cd.58.com/chaoshishangye/5377603667847x.shtml">销售精英</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="cd" type="xs"><a href="http://cd.58.com/shichang/12283670209801x.shtml">汽车频道销售</a>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="cd" type="xs"><a href="http://cd.58.com/zplvyoujiudian/11554817783809x.shtml">商务顾问黄页频道</a>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="cd" type="xs"><a href="http://cd.58.com/yewu/9199082312714x.shtml">销售房产频道</a>
				<span class="time">今天</span><span class="city">成都</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hz" type="glzc"><a href="http://hz.58.com/yewu/15162560720897x.shtml">销售助理/支持</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="hz" type="xs"><a href="http://hz.58.com/yewu/10160059626757x.shtml">招聘端口商务专员</a>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hz" type="xs"><a href="http://hz.58.com/yewu/12253297894409x.shtml">汽车网邻通销售</a>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hz" type="xs"><a href="http://hz.58.com/yewu/6171458161029x.shtml">电话销售</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hz" type="xs"><a href="http://hz.58.com/yewu/14506676107786x.shtml">销售助理</a>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hz" type="xs"><a href="http://hz.58.com/yewu/6171638024583x.shtml">销售代表(电销+面销)</a>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hz" type="xs"><a href="http://hz.58.com/yewu/7074971904258x.shtml">销售主管</a>
				<span class="time">今天</span><span class="city">杭州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sjz" type="glzc"><a href="http://sjz.58.com/renli/14698368715272x.shtml">培训讲师</a>
				<span class="time">今天</span><span class="city">石家庄</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="sjz" type="yy"><a href="http://sjz.58.com/kefu/14698305405314x.shtml">客服</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">石家庄</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="sjz" type="yy"><a href="http://sjz.58.com/renli/14698279167239x.shtml">文员</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">石家庄</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="sjz" type="xs"><a href="http://sjz.58.com/shichang/9421757274122x.shtml">电话销售(五险)</a>
				<span class="time">今天</span><span class="city">石家庄</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sjz" type="xs"><a href="http://sjz.58.com/kefu/9013027742594x.shtml">商务顾问</a>
				<span class="time">今天</span><span class="city">石家庄</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="wh" type="js"><a href="http://wh.58.com/tech/14031739684610x.shtml">网页美工</a>
				<span class="time">今天</span><span class="city">武汉</span><span class="zw">技术类</span></li>
				<li style="display: none;" city="wh" type="xs"><a href="http://wh.58.com/yewu/15338338995079x.shtml">客户经理</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">武汉</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="wh" type="xs"><a href="http://wh.58.com/yewu/7727713869831x.shtml">电话销售</a>
				<span class="time">今天</span><span class="city">武汉</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="wh" type="glzc"><a href="http://wh.58.com/tech/14031739684610x.shtml">培训讲师</a>
				<span class="time">今天</span><span class="city">武汉</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="hrb" type="xs"><a href="http://hrb.58.com/yewu/5748183626882x.shtml">商务顾问</a>
				<span class="time">今天</span><span class="city">哈尔滨</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hrb" type="yy"><a href="http://hrb.58.com/kefu/14429241731337x.shtml">客服专员/助理</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">哈尔滨</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="hrb" type="xs"><a href="http://hrb.58.com/yewu/11346089041027x.shtml">电话销售</a>
				<span class="time">今天</span><span class="city">哈尔滨</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="wx" type="glzc"><a href="http://wx.58.com/renli/14850552435208x.shtml">人事专员（无锡残疾人士）</a>
				<span class="time">今天</span><span class="city">无锡</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="wx" type="glzc"><a href="http://wx.58.com/yewu/9785395163654x.shtml">诚招储备主管</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">无锡</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="wx" type="glzc"><a href="http://wx.58.com/renli/14850514147973x.shtml">行政文员（无锡残疾人士）</a>
				<span class="time">今天</span><span class="city">无锡</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="wx" type="xs"><a href="http://wx.58.com/yewu/6523069288325x.shtml">销售助理（本地残疾人）</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">无锡</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="wx" type="yy"><a href="http://wx.58.com/tech/13414343849098x.shtml">网站编辑（无锡残疾人士）</a>
				<span class="time">今天</span><span class="city">无锡</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="wx" type="xs"><a href="http://wx.58.com/yewu/6546634976520x.shtml">58诚聘销售精英</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">无锡</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sy" type="xs"><a href="http://sy.58.com/yewu/14818995340034x.shtml">销售人员（接收残疾人）</a>
				<span class="time">今天</span><span class="city">沈阳</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sy" type="xs"><a href="http://sy.58.com/yewu/13479918855426x.shtml">商务顾问</a>
				<span class="time">今天</span><span class="city">沈阳</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sy" type="xs"><a href="http://sy.58.com/renli/14885990871048x.shtml">销售助理（接收残疾人）</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">沈阳</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="sy" type="yy"><a href="http://sy.58.com/zpxiezuochuban/9543743711621x.shtml">网站编辑</a>
				<span class="time">今天</span><span class="city">沈阳</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="hf" type="xs"><a href="http://hf.58.com/yewu/14035115895170x.shtml">高薪诚聘销售顾问</a>
				<span class="time">今天</span><span class="city">合肥</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hf" type="xs"><a href="http://hf.58.com/yewu/14830367008906x.shtml">客户经理</a>
				<span class="time">今天</span><span class="city">合肥</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="hf" type="yy"><a href="http://hf.58.com/renli/14573034167169x.shtml">行政前台</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">合肥</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="hf" type="js"><a href="http://hf.58.com/zpguanggao/14365025266177x.shtml">诚聘网页美工</a>
				<span class="time">今天</span><span class="city">合肥</span><span class="zw">技术类</span></li>
				<li style="display: none;" city="hf" type="yy"><a href="http://hf.58.com/tech/14343776474889x.shtml">诚聘网站编辑</a>
				<span class="time">今天</span><span class="city">合肥</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="hf" type="xs"><a href="http://hf.58.com/yewu/13989955938823x.shtml">销售代表</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">合肥</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="jn" type="xs"><a href="http://jn.58.com/yewu/14440675196040x.shtml">销售代表（接收肢体残疾）</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">济南</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="jn" type="xs"><a href="http://jn.58.com/yewu/8892533852424x.shtml">招聘频道销售专员</a>
				<span class="time">今天</span><span class="city">济南</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="jn" type="xs"><a href="http://jn.58.com/yewu/13691745040131x.shtml">生活频道销售专员</a>
				<span class="time">今天</span><span class="city">济南</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="jn" type="xs"><a href="http://jn.58.com/yewu/6271058123908x.shtml">房产网络端口销售</a>
				<span class="time">今天</span><span class="city">济南</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="nj" type="xs"><a href="http://nj.58.com/yewu/12129653162121x.shtml">销售代表</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">南京</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="nj" type="xs"><a href="http://nj.58.com/yewu/10738230535300x.shtml">销售精英</a>
				<span class="time">今天</span><span class="city">南京</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="nj" type="glzc"><a href="http://nj.58.com/renli/13204435917191x.shtml">人力资源专员</a>
				<span class="time">今天</span><span class="city">南京</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="nj" type="xs"><a href="http://nj.58.com/shichang/5762037192961x.shtml">58同城网业务专员</a>
				<span class="time">今天</span><span class="city">南京</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="su" type="yy"><a href="http://su.58.com/kefu/13969812231681x.shtml">客服专员/助理</a>
				<span class="time">今天</span><span class="city">苏州</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="su" type="xs"><a href="http://su.58.com/yewu/13968642423681x.shtml">销售顾问</a>
				<span class="time">今天</span><span class="city">苏州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="cq" type="yy"><a href="http://cq.58.com/tech/14031793148417x.shtml">编辑（残疾人）</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">重庆</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="cq" type="yy"><a href="http://cq.58.com/renli/14816498114179x.shtml">文员（残疾人）</a>
				<span class="time">今天</span><span class="city">重庆</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="cq" type="yy"><a href="http://cq.58.com/kefu/14033726484609x.shtml">客服</a>
				<span class="time">今天</span><span class="city">重庆</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="dg" type="xs"><a href="http://dg.58.com/yewu/14299020320393x.shtml">销售助理</a>
				<span class="time">今天</span><span class="city">东莞</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="dg" type="xs"><a href="http://dg.58.com/yewu/9510581297156x.shtml">58同城销售顾问</a>
				<span class="time">今天</span><span class="city">东莞</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="dg" type="xs"><a href="http://dg.58.com/yewu/9565972634250x.shtml">电话销售</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">东莞</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="xm" type="yy"><a href="http://xm.58.com/zpxiezuochuban/14850325206790x.shtml">网站编辑</a>
				<span class="time">今天</span><span class="city">厦门</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="xm" type="js"><a href="http://xm.58.com/tech/14850255882629x.shtml">网页美工(仅限残疾人)</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">厦门</span><span class="zw">技术类</span></li>
				<li style="display: none;" city="dl" type="xs"><a href="http://dl.58.com/yewu/6315887936135x.shtml">销售精英</a>
				<span class="time">今天</span><span class="city">大连</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="dl" type="xs"><a href="http://dl.58.com/zpguanggao/2829738274435x.shtml">商务顾问</a>
				<span class="time">今天</span><span class="city">大连</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="nn" type="xs"><a href="http://nn.58.com/zplvyoujiudian/14001544596355x.shtml">商务顾问</a>
				<span class="time">今天</span><span class="city">南宁</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="nn" type="xs"><a href="http://nn.58.com/yewu/14015625302919x.shtml">销售精英</a>
				<span class="time">今天</span><span class="city">南宁</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="nn" type="yy"><a href="http://nn.58.com/kefu/14908200438145x.shtml">客服</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">南宁</span><span class="zw">运营类</span></li>
				<li style="display: none;" city="qd" type="xs"><a href="http://qd.58.com/yewu/8316065410308x.shtml">销售代表</a>
				<span class="time">今天</span><span class="city">青岛</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="qd" type="glzc"><a href="http://qd.58.com/renli/13657991682698x.shtml">企业内训师</a>
				<span class="time">今天</span><span class="city">青岛</span><span class="zw">管理支持类</span></li>
				<li style="display: none;" city="fz" type="xs"><a href="http://fz.58.com/kefu/14905199566977x.shtml">销售代表</a><i class="hot"></i>
				<span class="time">今天</span><span class="city">福州</span><span class="zw">销售类</span></li>
				<li style="display: none;" city="fz" type="xs"><a href="http://fz.58.com/yewu/14010295627143x.shtml">诚聘商务顾问</a>
				<span class="time">今天</span><span class="city">福州</span><span class="zw">销售类</span></li>
			</ul>
		<div class="pagenav clearfix"><a id="prev" href="javascript:void(0);">上一页</a><a class="pp" href="javascript:void(0);">1</a><a class="pp active" href="javascript:void(0);">2</a><a class="pp" href="javascript:void(0);">3</a><a class="pp" href="javascript:void(0);">4</a><a class="pp" href="javascript:void(0);">5</a><a class="pp" href="javascript:void(0);">6</a><a class="pp" href="javascript:void(0);">7</a><a class="pp" href="javascript:void(0);">8</a><a class="pp" href="javascript:void(0);">9</a><a id="next" href="javascript:void(0);">下一页</a></div></div><!--box658-->
		<div class="box330 right">
			<div class="canji-sp">
				<object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" height="219px" width="328px">
				<param value="http://www.58.com/shenqi/flv.swf?vcastr_file=http://pic.58.com/sqcz/sqcz00000110907xc.flv&amp;autostart=true&amp;IsAutoPlay=1" name="movie">
				<param value="high" name="quality">
				<param value="true" name="autostart">
				<param value="true" name="allowFullScreen">
				<embed type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" autostart="true" quality="high" allowfullscreen="true" src="__PUBLIC__/Home/cj_files/flv.swf" height="219px" width="328px">
				</object>			
			</div>
			<div class="box328">
				<h2>热招职位<i class="hot"></i></h2>
				<ul class="canji_li_1 clearfix">
					<li><a href="http://bj.58.com/renli/14830513301251x.shtml">信息审核员</a></li>
					<li><a href="http://tj.58.com/yewu/14388312411530x.shtml">销售助理</a></li>
	                                <li><a href="http://sh.58.com/zpxiezuochuban/9201331566595x.shtml">网站编辑</a></li>
			                <li><a href="http://sz.58.com/kefu/14816055428354x.shtml">客服</a></li>
					<li><a href="http://gz.58.com/yewu/14068461647493x.shtml">业务员</a></li>
					<li><a href="http://sz.58.com/kefu/6711744159496x.shtml">提单助理</a></li>
				</ul>
			</div>
			<div class="box328">
				<h2>公司动态<i class="hot"></i></h2>
				<ul>
                                        <li><a href="http://tech.hexun.com/2013-04-28/153646919.html">58同城携手中国残疾人服务网推公益招聘平台</a></li>
					<li><a href="http://www.it.com.cn/news/cyxw/yejie/2013091718/1023341.html">58同城公益足球项目启动，倡导简单公益行</a></li>
					<li><a href="http://info.it.hc360.com/2013/07/121100721452.shtml">58同城200余岗位接受残疾人应聘，雅安优先</a></li>
					<li><a href="http://www.chinadaily.com.cn/micro-reading/dzh/2013-04-23/content_8843441.html">大爱无疆，中国互联网企业共同撑起爱的网络</a></li>
				</ul>
			</div>
		</div><!--box658-->
	</div><!--container-->
	
    
    <div id="footer"> 
        <div style="text-align: center; font-size: 12px; padding:20px 0;">
           © 58.com</div>
    </div>

    <div style="display: none">

    <script type="text/javascript">
        var _gaq = _gaq || []; var site_name = "58"; _gaq.push(['_setAccount', 'UA-877409-4']); _gaq.push(['_setDomainName', '.58.com']); _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            document.write("<script type=\"text/javascript\" src=\"" + ("https:" == document.location.protocol ? "https://" : "http://") + "track.58.com/referrer2.js\"><\/script>");
        })(); 
    </script><script type="text/javascript" src="__PUBLIC__/Home/cj_files/referrer2.js"></script>

	</div>



</body></html>