<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>【北京装修建材|北京装修建材信息|北京装修建材市场】- 北京58同城</title>
<meta name="Keywords" content="北京装修建材,北京装修建材市场">
<meta name="Description" content="北京装修建材网为您提供大量北京装修建材转让，北京装修建材求购信息，更多北京装修建材信息就在58同城北京装修建材网。">

<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.58.com/bj/zhuangxiujc/">
<meta http-equiv="mobile-agent" content="format=html5; url=http://m.58.com/bj/zhuangxiujc/">
<meta http-equiv="mobile-agent" content="format=wml; url=http://m.58.com/bj/zhuangxiujc/">
<meta name="location" content="province=北京;city=北京;coord=116.395645,39.929986">

<link href="__PUBLIC__/Home/indexzx_files/topbar_v1.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/indexzx_files/zxdalei.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Home/indexzx_files/jquery-1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/indexzx_files/m.js"></script>

</head><body><div style="position: absolute; left: -1px; bottom: -1px; z-index: 0; width: 0px; height: 0px; overflow: hidden; visibility: hidden; display: none;" id="BAIDU_DUP_fp_wrapper"><iframe style="width: 0px; height: 0px; visibility: hidden; display: none;" src="__PUBLIC__/Home/indexzx_files/o.htm" id="BAIDU_DUP_fp_iframe"></iframe></div><div id="BAIDU_DUP_wrapper_1139244_0"></div><div class="flybox" id="flybox">
    <img src="__PUBLIC__/Home/indexzx_files/0f000jtI4Cc0F_xsyV6m8f.jpg" alt="58本地服务微信号">
    <a href="javascript:void(0);" title="关闭" class="flyclose" id="flyclose"></a>
</div>
  
<div class="cata bgwhite">
	<div id="header">
        <div id="headerinside">
            <a href="" alt="北京装修建材" target="_self"><br>
                <img src="__PUBLIC__/Home/indexzx_files/logonew.gif">
            </a>
            <h1><p id="logotxt"><span>装修建材</span></p></h1>
            <div id="searchbar">
                <form method="get" action="{:U('Home/Zhuangxiu/index')}">
                    <i id="key">
                        <input id="keyword" class="keyword" placeholder="请输入类名称" type="text" name="gtype">
                    </i>
                    <input name="button" class="btnal01" id="searchbtn" value="找装修" type="submit">
                </form>
                <div class="clear"></div>
            </div>
            
            <div><a href="http://post.58.com/1/?utm_source=d_hao360&amp;spm=360-mingzhan-1010" id="fabu" rel="nofollow"><i></i>免费发布信息</a></div>
        </div>
    </div>
</div>
<div style="display:block" class="tuibox_top_ad" id="ad_mddldb">
</div>
<div class="navbox borcol">
	<ul class="nav">
        <li class="side-title">所有服务分类</li>
    	<li class="on">
        	<span><a href="{:U('Home/Jiazheng/index')}" target="_blank">家政服务</a></span>
        </li>
        <li class="tc">
        	<span><a href="{:U('Home/Car/index')}" target="_blank">汽车服务</a></span>
        </li>
        <li class="tc">
            <span><a href="{:U('Home/Marry/index')}" target="_blank">婚庆服务</a></span>
		</li>
        <li class="tc">
            <span><a href="{:U('Home/Jiaju/index')}" target="_blank">家具家电</a></span>
        </li>
        <li class="tc">
            <span><a href="{:U('Home/Shuma/index')}">数码电子</a></span>
        </li>
		<li class="tc">
         <div id="BAIDU_DUP_wrapper_1124624_0"></div><span><a href="" target="_blank">发布装修需求</a></span>
        </li>
		<li class="tc">
           <div id="BAIDU_DUP_wrapper_1125583_0"></div>
        </li>
    </ul> 
</div>
<div class="box topbanner" id="play">
    <div class="banner-cont">
        <div class="sidebar">
            <ul>
                <li class="side-l1"><i></i><h2><a href="{:U('Home/Zhuangxiu/index')}?gtype=家庭装修" target="_blank">家装服务</a></h2><span></span></li>
                <li class="side-l2"><i></i><h2><a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务" target="_blank">工装服务</a></h2><span></span></li>
                <li class="side-l3"><i></i><h2><a href="{:U('Home/Zhuangxiu/index')}?gtype=建材" target="_blank">建材市场</a></h2><span></span></li>
                <li class="side-l4"><i></i><h2><a href="{:U('Home/Zhuangxiu/index')}?gtype=家具" target="_blank">家具市场</a></h2><span></span></li>
                <li class="side-l5"><i></i><h2><a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰" target="_blank">家纺家饰</a></h2><span></span></li>
            </ul> 
            
        </div>
        <div class="sublist">
            <div class="catecss" style="display: none;">
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家庭装修&stype=装修公司" target="_blank">装修公司</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=家庭装修&stype=设计公司/设计师" target="_blank">设计公司/设计师</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家庭装修&stype=装修队/散工" target="_blank">装修队/散工</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家庭装修&stype=施工监理" target="_blank">施工监理</a>
            </div>
            <div class="catecss" style="display: none;">
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=办公室装修" target="_blank">办公室装修</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=写字楼装修" target="_blank">写字楼装修</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=商场/超市装修" target="_blank">商场/超市装修</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=学校装修" target="_blank">学校装修</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=厂房装修" target="_blank">厂房装修</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=医院装修" target="_blank">医院装修</a><br>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=售楼中心装修" target="_blank">售楼中心装修</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=幼儿园装修" target="_blank">幼儿园装修</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=餐饮娱乐装修" target="_blank">餐饮娱乐装修</a><br>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=店铺装修" target="_blank">店铺装修</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=酒店装修" target="_blank">酒店装修</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=工装服务&stype=展厅装修" target="_blank">展厅装修</a><br>
            </div>
            <div class="catecss" style="display: none;">
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=橱柜" target="_blank">橱柜</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=瓷砖" target="_blank">瓷砖</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=地板" target="_blank">地板</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=房门" target="_blank">房门</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=卫浴洁具" target="_blank">卫浴洁具</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=厨卫电器" target="_blank">厨卫电器</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=移门壁柜" target="_blank">移门壁柜</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=涂料壁纸" target="_blank">涂料壁纸</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=灯具照明" target="_blank">灯具照明</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=塑钢门窗" target="_blank">塑钢门窗</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=龙头水槽" target="_blank">龙头水槽</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=吊顶浴霸" target="_blank">吊顶浴霸</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=暖气地暖" target="_blank">暖气地暖</a><br>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=公共环卫设施" target="_blank">公共环卫设施</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=晾衣架/杆" target="_blank">晾衣架/杆</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=楼梯" target="_blank">楼梯</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=智能家居系统" target="_blank">智能家居系统</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=基础建筑材料" target="_blank">基础建筑材料</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=水泥砂石" target="_blank">水泥砂石</a><br>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=五金工具" target="_blank">五金工具</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=电子电工" target="_blank">电子电工</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=建材&stype=环保/除味/保养" target="_blank">环保/除味/保养</a>
            </div>
            <div class="catecss" style="display: none;">
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=床" target="_blank">床</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=床垫" target="_blank">床垫</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=榻榻米" target="_blank">榻榻米</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=空间家具" target="_blank">空间家具</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=沙发" target="_blank">沙发</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=桌类" target="_blank">桌类</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=椅凳" target="_blank">椅凳</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=柜类" target="_blank">柜类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=架类" target="_blank">架类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=几类" target="_blank">几类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=案/台类" target="_blank">案/台类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=根雕类" target="_blank">根雕类</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=镜子类" target="_blank">镜子类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=屏风/花窗" target="_blank">屏风/花窗</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=箱类" target="_blank">箱类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=户外庭院" target="_blank">户外庭院</a><br>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=辅料配件" target="_blank">辅料配件</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家具&stype=商业/办公家具" target="_blank">商业/办公家具</a>
            </div>
            <div class="catecss" style="display: none;">
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=床上用品" target="_blank">床上用品</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=布艺软饰" target="_blank">布艺软饰</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=帘类" target="_blank">帘类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=毯类" target="_blank">毯类</a>
                <a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=垫类" target="_blank">垫类</a><br>			
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=相框/画片" target="_blank">相框/画片</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=贴饰壁饰" target="_blank">贴饰壁饰</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=家居摆挂饰" target="_blank">家居摆挂饰</a>
    			<a href="{:U('Home/Zhuangxiu/index')}?gtype=家纺家饰&stype=工艺饰品" target="_blank">工艺饰品</a><br>
            </div>
        </div>
    </div>
    <div id="box">
        <ul class="imgList">
            <li><img style="margin-left: -328px;" src="__PUBLIC__/Home/indexzx_files/lb3.jpg" alt="第一张"></li>
            <li><img style="margin-left: -328px;" src="__PUBLIC__/Home/indexzx_files/lb2.jpg" alt="装修招标"></li>
        </ul>
    	<span class="proe"></span>
    	<span class="next"></span>
    	<ul class="countNum">
    		<li class="current"></li>
    		<li class=""></li>
    	</ul>
    </div>

    <script type="text/javascript" src="__PUBLIC__/Home/jquery-1.8.3.min.js"> </script>
    <script type="text/javascript">
    //获取元素
    $('.imgList li').css('display','none');
    $('.imgList li').eq(0).css('display','block');

    //绑定鼠标移入事件
    var index = 0
    var inte = null;

    $('.countNum li').mouseover(function(){
        $(this).removeAttr('class');
        $(this).siblings().attr('class','current');
        index = $(this).index();
        $('.imgList li').eq(index).show();
        $('.imgList li').eq(index).siblings().css('display','none');
        clearInterval(inte);
    })

    //绑定鼠标移开事件
    $('.countNum li').mouseout(function(){
        $(this).removeAttr('class');
        inte = setInterval(function(){
            $('.imgList li').eq(index).show();
            $('.imgList li').eq(index).siblings().css('display','none');
            $(this).removeAttr('class');
            $(this).siblings().attr('class','current');
            index++;
            if(index>1){
                index = 0;
            }
        },2000);

    })


    </script>
    
</div>
<div class="floorbar" style="display: none;">
    <ul>
        <li class="active" jumpto="#tab1">
            <span style="display: none;">1F</span>
            <span style="display: inline;">家庭</span>
        </li>
        <li class="" jumpto="#tab2">
            <span style="display: inline;">2F</span>
            <span style="display: none;">工装</span>
        </li>
        <li class="" jumpto="#tab3">
            <span style="display: inline;">3F</span>
            <span style="display: none;">建材</span>
        </li>
        <li class="" jumpto="#tab4">
            <span style="display: inline;">4F</span>
            <span style="display: none;">家具</span>
        </li>
        <li class="" jumpto="#tab5">
            <span style="display: inline;">5F</span>
            <span style="display: none;">家纺</span>
        </li>
        <li class="go-top"><i></i></li>
    </ul>
</div>
<div class="floor fl1" id="tab1">
	<div class="leftbar">
        <h2 class="left-title"><img src="__PUBLIC__/Home/indexzx_files/1f.png" alt=""></h2>
        <ul id="fone">
            <li class="left-l1" style="cursor:pointer"><i></i><a href="">装修公司</a></li>
            <li class="left-l2 hover" style="cursor:pointer"><i></i><a href="">设计公司/设计师</a></li>
            <li class="left-l3" style="cursor:pointer"><i></i><a href="">装修队/散工</a></li>
            <li class="left-l4" style="cursor:pointer"><i></i><a href="">施工监理</a></li>
        </ul>
    </div>
	<div class="centerbox">
        <li id="item" style="display:none">
            <a href="">
                <img src="" alt="">
                <p class="f14"><span></span></p>
            </a>
        </li>
        <ul id="twoul">
            <li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12671789535959072232.jpg" alt="专业承接新房装修 旧房翻新改造 注重品质">
                    <p class="f14"><span>专业承接新房装修 旧房翻新改造 注重品质</span></p>
                </a>
            </li>
            <li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkuymc4vb4zvn7q22ibq.jpg" alt="北京皖达信诚装饰——为您打造浪漫温馨的家">
                    <p class="f14"><span>北京皖达信诚装饰——为您打造浪漫温馨的家</span></p>
                </a>
            </li>
            <li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12523403302441134164.jpg" alt="玉华装饰 墙面乳胶漆 家具翻新整装 水电...">
                    <p class="f14"><span>玉华装饰 墙面乳胶漆 家具翻新整装 水电...</span></p>
                </a>
            </li>
            <li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12671789535959072232.jpg" alt="专业承接新房装修 旧房翻新改造 注重品质">
                    <p class="f14"><span>专业承接新房装修 旧房翻新改造 注重品质</span></p>
                </a>
            </li>
            <li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t085911f5a0ce98014b393.jpg" alt="大兴区饭店装修 打隔断 改水电 刷墙 大...">
                    <p class="f14"><span>大兴区饭店装修 打隔断 改水电 刷墙 大...</span></p>
                </a>
            </li>
            <li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12517555510462095052.jpg" alt="专业装修办公空间 底层店商 专卖店施工 ...">
                    <p class="f14"><span>专业装修办公空间 底层店商 专卖店施工 ...</span></p>
                </a>
            </li>
            <li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkujjd3ilpevkgfvlatq.jpg" alt="老房翻新粉刷墙厨卫装修办公室店铺装修先施...">
                    <p class="f14"><span>老房翻新粉刷墙厨卫装修办公室店铺装修先施...</span></p>
                </a>
            </li>
            <li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=211">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkujjdy6whcvle36jzga.jpg" alt="家居软装配饰设计 免费上门量房 品牌家具...">
                    <p class="f14"><span>家居软装配饰设计 免费上门量房 品牌家具...</span></p>
                </a>
            </li> 
		</ul>       
    </div>
    

    <script type="text/javascript" src="__PUBLIC__/Home/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
            var oneff = 0;
            $('#fone .left-l1').click(function(){
                var str = $(this).find('a').html();
                if(!oneff){
                    $('#twoul').empty();
                    $.get("{:U('Home/Zhuangxiu/onef')}",{gtype:'家庭装修',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twoul').append(newLi);
                        }
                    },'json');
                }
                oneff++;
            })

            onefff = false;
            $('#fone .left-l2').click(function(){
                var str = $(this).find('a').html();
                if(!onefff){
                    $('#twoul').empty();
                    $.get("{:U('Home/Zhuangxiu/onef')}",{gtype:'家庭装修',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twoul').append(newLi);
                        }
                    },'json');
                }
                onefff = true;
            })

            onef3 = false;
            $('#fone .left-l3').click(function(){
                var str = $(this).find('a').html();
                if(!onef3){
                    $('#twoul').empty();
                    $.get("{:U('Home/Zhuangxiu/onef')}",{gtype:'家庭装修',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twoul').append(newLi);
                        }
                    },'json');
                }
                onef3 = true;
            })

            onef4 = false;
            $('#fone .left-l4').click(function(){
                var str = $(this).find('a').html();
                if(!onef4){
                    $('#twoul').empty();
                    $.get("{:U('Home/Zhuangxiu/onef')}",{gtype:'家庭装修',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");
                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twoul').append(newLi);
                        }
                    },'json');
                }
                onef4 = true;
            })
                
    </script>

    <div class="rightbar"></div>
</div>
<div class="floor fl2" id="tab2">
    <div class="leftsub">
        <div class="leftbar">
            <h2 class="left-title"><img src="__PUBLIC__/Home/indexzx_files/2f.png" alt=""></h2>
            <ul id='ftwo'>
                <li class="left-l1 hover"><i></i><a href="">办公室装修</a><span></span></li>
                <li class="left-l2"><i></i><a href="">写字楼装修</a><span></span></li>
                <li class="left-l3"><i></i><a href="">学校装修</a><span></span></li>
            </ul>
        </div>
        
    </div>

    <div class="centerbox">
        <ul id="twof">
            <li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t02eea357233cf801aeaea.jpg" alt="日式韩式 料理店茶室 和室房间设计安装 ...">
                    <p class="f14"><span>日式韩式 料理店茶室 和室房间设计安装 ...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkuyfvlgxa6vn7cshv3a.jpg" alt="商场形象店面设计、专业连锁店面设计、品牌...">
                    <p class="f14"><span>商场形象店面设计、专业连锁店面设计、品牌...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkuyfvjy64kfm4nwtiaa.jpg" alt="专业隔断 墙面粉刷 刷墙衣 刮腻子 吊顶...">
                    <p class="f14"><span>专业隔断 墙面粉刷 刷墙衣 刮腻子 吊顶...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12225848111878539164.jpg" alt="商业装修:简约、时尚、舒适、实用-尚易明...">
                    <p class="f14"><span>商业装修:简约、时尚、舒适、实用-尚易明...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t08a59508c5cca8014de52.jpg" alt="专业办公室写字楼宾馆酒店医院等装修值得信...">
                    <p class="f14"><span>专业办公室写字楼宾馆酒店医院等装修值得信...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bl2lwxqlz45fnwer5msq.jpg" alt="办公室装修 写字楼翻新 服装店改装 学校...">
                    <p class="f14"><span>办公室装修 写字楼翻新 服装店改装 学校...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t09e761d6369ad801e21a6.jpg" alt="承接室内装修 刷墙 吊顶 打隔断 铺砖 ...">
                    <p class="f14"><span>承接室内装修 刷墙 吊顶 打隔断 铺砖 ...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=212">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12536385143030452002.jpg" alt="店铺,厂房,展厅,办公写字楼,录音室,超...">
                    <p class="f14"><span>店铺,厂房,展厅,办公写字楼,录音室,超...</span></p>
                </a>
            </li>
		</ul>       
    </div>
    <script type="text/javascript">
        var secondf = 0;
            $('#ftwo .left-l1').click(function(){
                var str = $(this).find('a').html();
                if(!secondf){
                    $('#twof').empty();
                    $.get("{:U('Home/Zhuangxiu/twof')}",{gtype:'工装服务',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twof').append(newLi);
                        }
                    },'json');
                }
                secondf++;
            })

            var secondff = 0;
            $('#ftwo .left-l2').click(function(){
                var str = $(this).find('a').html();
                if(!secondff){
                    $('#twof').empty();
                    $.get("{:U('Home/Zhuangxiu/twof')}",{gtype:'工装服务',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twof').append(newLi);
                        }
                    },'json');
                }
                secondff++;
            })

            var secondfff = 0;
            $('#ftwo .left-l3').click(function(){
                var str = $(this).find('a').html();
                if(!secondfff){
                    $('#twof').empty();
                    $.get("{:U('Home/Zhuangxiu/twof')}",{gtype:'工装服务',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#twof').append(newLi);
                        }
                    },'json');
                }
                secondfff++;
            })


    </script>
    <div class="rightbar"></div>
</div>
<div class="floor">
    <div id="BAIDU_DUP_wrapper_1117832_0"></div>
</div>
<div class="floor fl3" id="tab3">
    <div class="leftsub">
        <div class="leftbar">
            <h2 class="left-title"><img src="__PUBLIC__/Home/indexzx_files/3f.png" alt=""></h2>
            <ul id="fthree">
                <li class="left-l1"><i></i><a href="">地板</a><span></span></li>
                <li class="left-l2"><i></i><a href="">瓷砖</a><span></span></li>
                <li class="left-l3"><i></i><a href="">房门</a><span></span></li>
                <li class="left-l4"><i></i><a href="">橱柜</a><span></span></li>
            </ul>
        </div>
        
    </div>
    
    <div class="centerbox">
        <ul id="threef">
            			<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12522110387048393156.jpg" alt="承接消防工程,安防工程,消、电检、灭火器...">
                    <p class="f14"><span>承接消防工程,安防工程,消、电检、灭火器...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12509677145071130272.jpg" alt="断桥铝,塑刚门窗,阳光房,彩钢房,封阳台...">
                    <p class="f14"><span>断桥铝,塑刚门窗,阳光房,彩钢房,封阳台...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkujjd6exxevkkec7jaq.jpg" alt="厂家专业定制断桥铝,镀钢,阳光房,上门免...">
                    <p class="f14"><span>厂家专业定制断桥铝,镀钢,阳光房,上门免...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t0fa40ec9cfd3f800fc4e6.jpg" alt="定制阳光房、铝合金、塑钢窗、不锈钢护栏、...">
                    <p class="f14"><span>定制阳光房、铝合金、塑钢窗、不锈钢护栏、...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s02227196918271589126.jpg" alt="卷帘门 玻璃门 加工维修 LED显示屏 ...">
                    <p class="f14"><span>卷帘门 玻璃门 加工维修 LED显示屏 ...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkuymc2lx4afmisqrvqa.jpg" alt="金利地暖、专业从事地暖 暖气 净水器 中...">
                    <p class="f14"><span>金利地暖、专业从事地暖 暖气 净水器 中...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12683634466326044042.png" alt="不锈钢、扶手、护栏、楼梯、阳光房、断桥铝...">
                    <p class="f14"><span>不锈钢、扶手、护栏、楼梯、阳光房、断桥铝...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=195">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12410658594277938076.jpg" alt="年底大酬宾,价格全年最低玻璃隔断免费上门...">
                    <p class="f14"><span>年底大酬宾,价格全年最低玻璃隔断免费上门...</span></p>
                </a>
            </li>
			        </ul>       
    </div>

    <script type="text/javascript">
        var thirdf = 0;
            $('#fthree .left-l1').click(function(){
                var str = $(this).find('a').html();
                if(!thirdf){
                    $('#threef').empty();
                    $.get("{:U('Home/Zhuangxiu/threef')}",{gtype:'建材',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#threef').append(newLi);
                        }
                    },'json');
                }
                thirdf++;
            })

        var thirdff = 0;
            $('#fthree .left-l2').click(function(){
                var str = $(this).find('a').html();
                if(!thirdff){
                    $('#threef').empty();
                    $.get("{:U('Home/Zhuangxiu/threef')}",{gtype:'建材',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#threef').append(newLi);
                        }
                    },'json');
                }
                thirdff++;
            })


            var thirdfff = 0;
            $('#fthree .left-l3').click(function(){
                var str = $(this).find('a').html();
                if(!thirdfff){
                    $('#threef').empty();
                    $.get("{:U('Home/Zhuangxiu/threef')}",{gtype:'建材',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#threef').append(newLi);
                        }
                    },'json');
                }
                thirdfff++;
            })

            var thirdf4 = 0;
            $('#fthree .left-l4').click(function(){
                var str = $(this).find('a').html();
                if(!thirdf4){
                    $('#threef').empty();
                    $.get("{:U('Home/Zhuangxiu/threef')}",{gtype:'建材',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#threef').append(newLi);
                        }
                    },'json');
                }
                thirdf4++;
            })
    </script>

    <div class="rightbar"></div>
</div>
<div class="floor fl4" id="tab4">
    <div class="leftsub">
        <div class="leftbar">
            <h2 class="left-title"><img src="__PUBLIC__/Home/indexzx_files/4f.png" alt=""></h2>
            <ul id="ffour">
                <li class="left-l1"><i></i><a href="">床</a><span></span></li>
                <li class="left-l2"><i></i><a href="">沙发</a><span></span></li>
                <li class="left-l3"><i></i><a href="">榻榻米</a><span></span></li>
            </ul>
        </div>
       
    </div>
    
    <div class="centerbox">
        <ul id="fourf">
            			<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkuymc2cxjavmnr75fxq.jpg" alt="北京厂家直销、橱柜床类电视柜类、免费测量...">
                    <p class="f14"><span>北京厂家直销、橱柜床类电视柜类、免费测量...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkuyfvmcb4zvn5pkrrya.jpg" alt="厂家直销,双人床电视柜,电脑桌,写字台免...">
                    <p class="f14"><span>厂家直销,双人床电视柜,电脑桌,写字台免...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12710296633055309212.jpg" alt="水果货架 蔬菜水果架 干果货架糖果货架 ...">
                    <p class="f14"><span>水果货架 蔬菜水果架 干果货架糖果货架 ...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s0200375496399260094.jpg" alt="主营各类衣帽间 衣柜 酒柜 书柜等家具定...">
                    <p class="f14"><span>主营各类衣帽间 衣柜 酒柜 书柜等家具定...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bl2lwtngkuffmqvwsvtq.png" alt="预约免费上门设计咨询 工厂自营 榻榻米整...">
                    <p class="f14"><span>预约免费上门设计咨询 工厂自营 榻榻米整...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_v1bkujjd7qhdnvlraew4jq.jpg" alt="批发定做烟酒茶医药保健品展柜眼镜珠宝柜台...">
                    <p class="f14"><span>批发定做烟酒茶医药保健品展柜眼镜珠宝柜台...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12715946827701660262.jpg" alt="厂价直销办公桌 会议桌 老板台 可定制 ...">
                    <p class="f14"><span>厂价直销办公桌 会议桌 老板台 可定制 ...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=199">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s02549044376536971058.jpg" alt="庆圣诞 优惠多多 珠宝展柜 手机柜台 干...">
                    <p class="f14"><span>庆圣诞 优惠多多 珠宝展柜 手机柜台 干...</span></p>
                </a>
            </li>
			        </ul>       
    </div>
        <script type="text/javascript">
        var fourf = 0;
            $('#ffour .left-l1').click(function(){
                var str = $(this).find('a').html();
                if(!fourf){
                    $('#fourf').empty();
                    $.get("{:U('Home/Zhuangxiu/fourf')}",{gtype:'家纺家饰',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#fourf').append(newLi);
                        }
                    },'json');
                }
                fourf++;
            })

         var fourff = 0;
            $('#ffour .left-l2').click(function(){
                var str = $(this).find('a').html();
                if(!fourff){
                    $('#fourf').empty();
                    $.get("{:U('Home/Zhuangxiu/fourf')}",{gtype:'家纺家饰',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#fourf').append(newLi);
                        }
                    },'json');
                }
                fourff++;
            })

            var fourfff = 0;
            $('#ffour .left-l3').click(function(){
                var str = $(this).find('a').html();
                if(!fourfff){
                    $('#fourf').empty();
                    $.get("{:U('Home/Zhuangxiu/fourf')}",{gtype:'家纺家饰',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#fourf').append(newLi);
                        }
                    },'json');
                }
                fourfff++;
            })

        </script>
    <div class="rightbar"></div>
</div>
<div class="floor">
    <div id="BAIDU_DUP_wrapper_1117840_0"></div>
</div>
<div class="floor fl5" id="tab5">
    <div class="leftsub">
        <div class="leftbar">
            <h2 class="left-title"><img src="__PUBLIC__/Home/indexzx_files/5f.png" alt=""></h2>
            <ul id="fivef">
                <li class="left-l1"><i></i><a href="javascript:;">床上用品</a><span></span></li>
                <li class="left-l2"><i></i><a href="javascript:;">布艺软饰</a><span></span></li>
                <li class="left-l3"><i></i><a href="javascript:;">帘类</a><span></span></li>
                
            </ul>
        </div>
       
    </div>
    <div class="centerbox">
        <ul id="ffive">
            			<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t000b041d3025580192e86.jpg" alt="专业定制办公窗帘、沙发布艺家庭窗帘、酒店...">
                    <p class="f14"><span>专业定制办公窗帘、沙发布艺家庭窗帘、酒店...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12605255062244938112.jpg" alt="厂家窗帘促销 批发价定做办公帘家居别墅帘...">
                    <p class="f14"><span>厂家窗帘促销 批发价定做办公帘家居别墅帘...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s02082905864717360023.jpg" alt="朝阳软包朝阳防盗门软包硬包朝阳沙发卡座餐...">
                    <p class="f14"><span>朝阳软包朝阳防盗门软包硬包朝阳沙发卡座餐...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t0e5ed88e7f942800f0df9.jpg" alt="办公窗帘工程卷帘百叶帘遮光帘 办公软包 ...">
                    <p class="f14"><span>办公窗帘工程卷帘百叶帘遮光帘 办公软包 ...</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s12714550079916044071.jpg" alt="丰台卡座软包丰台窗帘幕布丰台餐椅卡座换面">
                    <p class="f14"><span>丰台卡座软包丰台窗帘幕布丰台餐椅卡座换面</span></p>
                </a>
            </li>
						<li style="opacity: 1;">
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t03228485b06188011abca.jpg" alt="办公窗帘 卷帘百叶帘 工程帘遮光帘 家居...">
                    <p class="f14"><span>办公窗帘 卷帘百叶帘 工程帘遮光帘 家居...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_t00487ce5b5444801022cd.jpg" alt="北京地毯销售办公室地毯方块毯 10周年庆...">
                    <p class="f14"><span>北京地毯销售办公室地毯方块毯 10周年庆...</span></p>
                </a>
            </li>
						<li>
                <a href="{:U('Home/Zhuangxiu/detail')}?id=206">
                    <img src="__PUBLIC__/Home/indexzx_files/n_s02586889055624794308.jpg" alt="茶叶展柜 烟酒展柜 珠宝展柜 手机柜 药...">
                    <p class="f14"><span>茶叶展柜 烟酒展柜 珠宝展柜 手机柜 药...</span></p>
                </a>
            </li>
			        </ul>       
    </div>
    <script type="text/javascript">
    var fivef = 0;
            $('#fivef .left-l1').click(function(){
                var str = $(this).find('a').html();
                if(!fivef){
                    $('#ffive').empty();
                    $.get("{:U('Home/Zhuangxiu/fivef')}",{gtype:'家纺家饰',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#ffive').append(newLi);
                        }
                    },'json');
                }
                fivef++;
            })

         var fiveff = 0;
            $('#fivef .left-l2').click(function(){
                var str = $(this).find('a').html();
                if(!fiveff){
                    $('#ffive').empty();
                    $.get("{:U('Home/Zhuangxiu/fivef')}",{gtype:'家纺家饰',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#ffive').append(newLi);
                        }
                    },'json');
                }
                fiveff++;
            })

             var fivefff = 0;
            $('#fivef .left-l3').click(function(){
                var str = $(this).find('a').html();
                if(!fivefff){
                    $('#ffive').empty();
                    $.get("{:U('Home/Zhuangxiu/fivef')}",{gtype:'家纺家饰',stype:str},function(data){
                       //循环创建元素
                        for(var i=0;i<data.length;i++){
                            //克隆元素
                            var newLi = $('#item').clone(true);
                            //修改元素的信息
                            newLi.find('img').attr('src','__PUBLIC__/'+data[i].pic);
                            newLi.find('span').html(data[i].title);
                            newLi.find('a').attr('href',"{:U('Home/Zhuangxiu/detail')}?id="+data[i].id+"");

                            //显示元素
                            newLi.show();
                            //执行插入
                            $('#ffive').append(newLi);
                        }
                    },'json');
                }
                fivefff++;
            })
    </script>
    <div class="rightbar"></div>
</div>

<script src="__PUBLIC__/Home/indexzx_files/zxdalei.js"></script>

﻿<div id="footer">
	<div class="bg">
		<div id="contact">
			京公网安备110105000809号　
			<span><a href="http://www.miibeian.gov.cn/" style="margin-left:20px;">京ICP证060405</a></span>
			<a href="http://www.58.com/huangye/" style="margin-left:20px;">黄页导航</a> 
			<a href="http://shop.58.com/bj" style="margin-left:20px;">店铺大全</a><br>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div style="display:none;">

</div>
</body></html>